<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-benefit-cards" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="benefit-cards">
    <d:layout.container>
        <header class="benefit-cards__intro">
            <f:if condition="{data.eyebrow}"><span class="benefit-cards__eyebrow">{data -> f:render.text(field: 'eyebrow')}</span></f:if>
            <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
            <f:if condition="{data.subheadline}"><d:atom.typography variant="muted">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
        </header>

        <div class="benefit-cards__grid benefit-cards__grid--cols-{data.columns -> f:or(alternative: '3')}">
            <f:for each="{data.items}" as="item">
                <d:molecule.card class="benefit-cards__item">
                    <f:if condition="{item.icon}">
                        <span class="benefit-cards__icon" aria-hidden="true">{item -> f:render.text(field: 'icon')}</span>
                    </f:if>
                    <h3 class="benefit-cards__title">
                        <f:if condition="{item.link.url}">
                            <f:then><f:link.typolink parameter="{item.link}">{item -> f:render.text(field: 'title')}</f:link.typolink></f:then>
                            <f:else>{item -> f:render.text(field: 'title')}</f:else>
                        </f:if>
                    </h3>
                    <f:if condition="{item.description}">
                        <p class="benefit-cards__description">{item -> f:render.text(field: 'description')}</p>
                    </f:if>
                </d:molecule.card>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
