<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-tabs" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-tabs">
    <d:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="feature-tabs__intro">
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.subheadline}"><d:atom.typography variant="muted">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
            </header>
        </f:if>

        <d:molecule.tabs defaultValue="tab-{data.uid}-0" class="feature-tabs__tabs">
            <d:molecule.tabsList class="feature-tabs__list">
                <f:for each="{data.items}" as="item" iteration="iter">
                    <d:molecule.tabsTrigger value="tab-{data.uid}-{iter.index}">{item -> f:render.text(field: 'tab_label')}</d:molecule.tabsTrigger>
                </f:for>
            </d:molecule.tabsList>

            <f:for each="{data.items}" as="item" iteration="iter">
                <d:molecule.tabsContent value="tab-{data.uid}-{iter.index}" class="feature-tabs__panel">
                    <div class="feature-tabs__content">
                        <div class="feature-tabs__copy">
                            <f:if condition="{item.title}"><h3 class="feature-tabs__title">{item -> f:render.text(field: 'title')}</h3></f:if>
                            <f:if condition="{item.description}"><div class="feature-tabs__description d-richtext">{item -> f:render.text(field: 'description')}</div></f:if>
                        </div>
                        <f:if condition="{item.image.0}">
                            <div class="feature-tabs__media">
                                <f:image image="{item.image.0}" alt="{item.image.0.alternative}" maxWidth="800" class="feature-tabs__image" loading="lazy" decoding="async"/>
                            </div>
                        </f:if>
                    </div>
                </d:molecule.tabsContent>
            </f:for>
        </d:molecule.tabs>
    </d:layout.container>
</d:layout.section>

</html>
