<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-office-locations" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="office-locations">
    <d:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="office-locations__intro">
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.subheadline}"><d:atom.typography variant="muted">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
            </header>
        </f:if>

        <ul class="office-locations__grid" role="list">
            <f:for each="{data.location_items}" as="loc">
                <li>
                    <d:molecule.card class="office-locations__item">
                        <h3 class="office-locations__city">{loc -> f:render.text(field: 'city')}</h3>
                        <address class="office-locations__details">
                            <f:if condition="{loc.address}">
                                <p class="office-locations__address">
                                    <span class="office-locations__icon" aria-hidden="true"><d:atom.icon name="map-pin" size="sm"/></span>
                                    <span class="office-locations__lines">{loc -> f:render.text(field: 'address')}</span>
                                </p>
                            </f:if>
                            <f:if condition="{loc.phone}">
                                <p class="office-locations__line">
                                    <span class="office-locations__icon" aria-hidden="true"><d:atom.icon name="phone" size="sm"/></span>
                                    <a class="office-locations__link" href="tel:{loc.phone}">{loc -> f:render.text(field: 'phone')}</a>
                                </p>
                            </f:if>
                            <f:if condition="{loc.email}">
                                <p class="office-locations__line">
                                    <span class="office-locations__icon" aria-hidden="true"><d:atom.icon name="mail" size="sm"/></span>
                                    <a class="office-locations__link" href="mailto:{loc.email}">{loc -> f:render.text(field: 'email')}</a>
                                </p>
                            </f:if>
                        </address>
                        <f:if condition="{loc.map_link.url}">
                            <d:atom.button href="{loc.map_link.url}" target="{loc.map_link.target}" variant="outline" size="sm" class="office-locations__map">
                                <span class="office-locations__map-icon" aria-hidden="true"><d:atom.icon name="map-pin" size="sm"/></span>
                                <span>{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:directions.to', arguments: {0: loc.city}, default: 'Directions to {loc.city}')}</span>
                            </d:atom.button>
                        </f:if>
                    </d:molecule.card>
                </li>
            </f:for>
        </ul>
    </d:layout.container>
</d:layout.section>

</html>
