<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Stage">
    <f:render partial="Presets/Stage" arguments="{content: content.stage, class: 'desiderio-portfolio-start__stage', containerSize: 'xl'}"/>
</f:section>

<f:section name="Main">
    <div class="desiderio-portfolio-template desiderio-portfolio-start">
        <f:render partial="Presets/ContentArea" arguments="{content: content.main}"/>
    </div>
</f:section>

</html>
