<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:argument name="pagination" type="GeorgRinger\NumberedPagination\NumberedPagination" />
<f:argument name="paginator" type="TYPO3\CMS\Core\Pagination\PaginatorInterface" />
<f:argument name="actionName" type="string" optional="{true}" default="" />

<f:render
    partial="Pagination"
    arguments="{
        pagination: pagination,
        paginator: paginator,
        pages: pagination.allPageNumbers,
        currentPage: paginator.currentPageNumber,
        actionName: actionName
    }"
/>

</html>
