<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:argument name="icon" type="string" optional="{true}" default="check" />
<f:argument name="class" type="string" optional="{true}" default="" />
<f:argument name="iconClass" type="string" optional="{true}" default="" />

<li data-slot="checked-list-item" class="d-checked-list-item {class -> f:format.trim()}">
    <span class="d-checked-list-item__marker" aria-hidden="true">
        <d:atom.icon name="{icon}" size="sm" class="{iconClass -> f:format.trim()}" />
    </span>
    <span class="d-checked-list-item__text">
        <f:slot />
    </span>
</li>

</html>
