<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-leaderboard-v2" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="leaderboard-section">
    <d:layout.container size="md">
        <div class="leaderboard">
            <f:if condition="{data.header} || {data.description}">
                <div class="leaderboard__header">
                    <f:if condition="{data.header}">
                        <d:atom.typography tag="h2" variant="h3" class="leaderboard__title">{data -> f:render.text(field: 'header')}</d:atom.typography>
                    </f:if>
                    <f:if condition="{data.description}">
                        <div class="leaderboard__description d-richtext">{data -> f:render.text(field: 'description')}</div>
                    </f:if>
                </div>
            </f:if>
            <ol class="leaderboard__list">
                <f:for each="{data.items}" as="item" iteration="iter">
                    <li class="leaderboard__item">
                        <f:if condition="{data.show_rank}">
                            <span class="leaderboard__rank" aria-hidden="true">{iter.cycle}</span>
                        </f:if>
                        <div class="leaderboard__avatar">
                            <f:if condition="{item.avatar_url}">
                                <f:then>
                                    <img src="{item.avatar_url}" alt="" loading="lazy" decoding="async"/>
                                </f:then>
                                <f:else>
                                    <f:if condition="{item.image}">
                                        <f:then>
                                            <f:for each="{item.image}" as="file">
                                                <f:image image="{file}" alt="" width="96" height="96" loading="lazy" decoding="async" additionalAttributes="{srcset: '{f:uri.image(image: file, width: \'96\', height: \'96\')} 1x, {f:uri.image(image: file, width: \'192\', height: \'192\')} 2x'}"/>
                                            </f:for>
                                        </f:then>
                                        <f:else>
                                            <span class="leaderboard__avatar-fallback" aria-hidden="true">{item.name -> f:format.crop(maxCharacters: 1)}</span>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </div>
                        <div class="leaderboard__info">
                            <span class="leaderboard__name">{item -> f:render.text(field: 'name')}</span>
                            <f:if condition="{item.subtitle}">
                                <span class="leaderboard__subtitle">{item -> f:render.text(field: 'subtitle')}</span>
                            </f:if>
                        </div>
                        <span class="leaderboard__value">
                            <span class="sr-only"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:leaderboard.score"/>: </span>{item -> f:render.text(field: 'value')}</span>
                    </li>
                </f:for>
            </ol>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
