<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-booking-form" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="booking-form">
    <d:layout.container size="md">
        <d:molecule.card class="booking-form__card">
            <header class="booking-form__intro">
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h3" class="booking-form__title">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.description}"><d:atom.typography tag="div" variant="muted" class="booking-form__description d-richtext">{data -> f:render.text(field: 'description')}</d:atom.typography></f:if>
                <f:if condition="{data.reassurance}">
                    <p class="booking-form__reassurance">
                        <span class="booking-form__reassurance-icon" aria-hidden="true"><d:atom.icon name="check-circle" size="sm"/></span>
                        <span>{data -> f:render.text(field: 'reassurance')}</span>
                    </p>
                </f:if>
            </header>

            <d:molecule.formRenderer persistenceIdentifier="EXT:desiderio/Resources/Private/Forms/DesiderioBooking.form.yaml" class="booking-form__form"/>
        </d:molecule.card>
    </d:layout.container>
</d:layout.section>

</html>
