<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Main">
    <f:comment>
        Corporate content page with a supporting sidebar (contacts, downloads,
        related links). It shares the breadcrumb-adjacent page header with every
        other inner page. The aside is a labelled complementary landmark.
    </f:comment>

    <d:organism.pageHeader page="{page}" newsDetailUid="{newsDetailUid}"/>

    <div class="desiderio-corporate-template desiderio-corporate-sidebar">
        <d:layout.container size="xl" class="desiderio-corporate-template__container">
            <div class="desiderio-corporate-sidebar__layout">
                <div class="desiderio-corporate-template__content">
                    <f:render partial="Presets/ContentArea" arguments="{content: content.main}"/>
                </div>
                <aside class="desiderio-corporate-sidebar__aside" aria-label="{f:translate(extensionName: 'desiderio', key: 'corporate.sidebar.aria', default: 'Related contacts and downloads')}">
                    <f:render partial="Presets/ContentArea" arguments="{content: content.sidebar}"/>
                </aside>
            </div>
        </d:layout.container>
    </div>
</f:section>

</html>
