<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Main">
    <section class="desiderio-system-page desiderio-corporate-system desiderio-corporate-system--search">
        <d:layout.container size="xl">
            <f:render partial="Presets/SystemHeader" arguments="{class: 'desiderio-corporate-system__header', eyebrow: breadcrumb.0.title, eyebrowClass: 'desiderio-corporate-start__eyebrow', title: page.pageRecord.title, summary: page.pageRecord.abstract}"/>
            <div class="desiderio-system-page__content desiderio-corporate-system__content">
                <f:render partial="Presets/ContentArea" arguments="{content: content.main}"/>
            </div>
        </d:layout.container>
    </section>
</f:section>

</html>
