<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Main">
    <f:comment>
        Search uses the same breadcrumb-adjacent page header as other inner
        pages. The results area remains a labelled region.
    </f:comment>

    <f:variable name="searchResultsLabel"><f:translate key="page.search.results.label" extensionName="desiderio">Search results</f:translate></f:variable>
    <d:organism.pageHeader page="{page}"/>

    <div class="desiderio-corporate-template">
        <d:layout.container size="xl" class="desiderio-corporate-template__container">
            <div class="desiderio-corporate-template__content" role="region" aria-label="{searchResultsLabel -> f:format.trim()}">
                <f:if condition="{content.main}">
                    <f:then>
                        <f:render partial="Presets/ContentArea" arguments="{content: content.main}"/>
                    </f:then>
                    <f:else>
                        <p class="desiderio-corporate-system__empty">
                            <f:translate key="corporate.search.empty" extensionName="desiderio">Enter a term above to search across our solutions, case studies, documentation and contacts.</f:translate>
                        </p>
                    </f:else>
                </f:if>
            </div>
        </d:layout.container>
    </div>
</f:section>

</html>
