<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<!--
    Fallback rendering for the Friendlycaptcha form element when
    studiomitte/friendlycaptcha is not installed: a decorative, inert
    verification widget. The button intentionally does nothing.
-->
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <f:form.hidden property="{element.identifier}" id="{element.uniqueIdentifier}" value="1" />
        <d:molecule.captchaPlaceholder />
    </f:render>
</formvh:renderRenderable>
</html>
