<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-back-to-top" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="btnLabel">{data.label -> f:or(alternative: 'Back to top')}</f:variable>
<f:variable name="btnTitle">{data.header -> f:or(alternative: '{btnLabel}')}</f:variable>
<f:variable name="btnClass"><d:atom.controlClass slot="buttonOutline" /></f:variable>

<button type="button"
        class="{btnClass -> f:format.trim()} back-to-top back-to-top--{data.position -> f:or(alternative: 'bottom-right')} is-hidden"
        aria-label="{btnLabel}"
        title="{btnTitle}"
        data-d-back-to-top
        data-threshold="300">
    <d:atom.icon name="chevron-up" size="sm" class="back-to-top__icon" />
    <f:if condition="{data.show_label}">
        <span class="back-to-top__label">{btnLabel}</span>
    </f:if>
</button>

</html>
