<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-testimonial-carousel" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="carouselLabel"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:carousel.region"/></f:variable>
<f:variable name="prevLabel"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:carousel.previous"/></f:variable>
<f:variable name="nextLabel"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:carousel.next"/></f:variable>
<f:variable name="dotLabel"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:carousel.goto"/></f:variable>
<f:variable name="slideLabel"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:carousel.slide"/></f:variable>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="testimonial-carousel">
    <d:layout.container>
        <f:if condition="{data.eyebrow} || {data.header}">
            <d:molecule.sectionIntro prefix="testimonial-carousel" class="testimonial-carousel__intro" headingClass="testimonial-carousel__headline">
                <f:fragment name="eyebrow"><f:if condition="{data.eyebrow}">{data -> f:render.text(field: 'eyebrow')}</f:if></f:fragment>
                <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>

        <div class="testimonial-carousel__track hero-carousel"
             role="group"
             aria-roledescription="carousel"
             aria-label="{carouselLabel}"
             data-astro-carousel
             data-astro-carousel-autoplay="{f:if(condition: data.autoplay, then: 'true', else: 'false')}"
             data-astro-carousel-labels="{prevLabel}|{nextLabel}|{dotLabel}">
            <f:for each="{data.testimonials}" as="item" iteration="iter">
                <article class="testimonial-carousel__slide{f:if(condition: iter.isFirst, then: ' hero-carousel__slide--active')}"
                         data-astro-carousel-slide
                         role="group"
                         aria-roledescription="{slideLabel}"
                         aria-label="{iter.cycle} / {iter.total}"
                         aria-hidden="{f:if(condition: iter.isFirst, then: 'false', else: 'true')}">
                    <f:if condition="{item.rating} > 0">
                        <div class="testimonial-carousel__rating" role="img" aria-label="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:rating.sr.rated', arguments: {0: item.rating}, default: 'Rated {item.rating} out of 5')}">
                            <f:for each="{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}" as="star">
                                <d:atom.icon name="star" size="default" class="testimonial-carousel__star {f:if(condition: '{star} <= {item.rating}', then: 'testimonial-carousel__star--filled')}" />
                            </f:for>
                        </div>
                    </f:if>
                    <blockquote class="testimonial-carousel__quote">{item -> f:render.text(field: 'quote')}</blockquote>
                    <div class="testimonial-carousel__author">
                        <f:if condition="{item.author_image}">
                            <f:for each="{item.author_image}" as="fileReference">
                                <f:image image="{fileReference}" width="96c" height="96c" alt="" loading="lazy" decoding="async" class="testimonial-carousel__avatar" additionalAttributes="{srcset: '{f:uri.image(image: fileReference, width: \'96c\', height: \'96c\')} 1x, {f:uri.image(image: fileReference, width: \'192c\', height: \'192c\')} 2x'}"/>
                            </f:for>
                        </f:if>
                        <div class="testimonial-carousel__meta">
                            <cite class="testimonial-carousel__name">{item -> f:render.text(field: 'author_name')}</cite>
                            <f:if condition="{item.author_title}">
                                <span class="testimonial-carousel__role">{item -> f:render.text(field: 'author_title')}</span>
                            </f:if>
                        </div>
                    </div>
                </article>
            </f:for>
            <p class="sr-only" aria-live="polite" data-astro-carousel-status></p>
        </div>
    </d:layout.container>
</d:layout.section>
</html>
