includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 80300
    level: max
    paths:
        - Classes/
        - Configuration/Icons.php
        - Tests/
        - ext_emconf.php
        - ext_localconf.php
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        # TYPO3 injects $_EXTKEY at runtime when loading ext_emconf.php.
        -
            message: '#^Variable \$_EXTKEY might not be defined\.$#'
            path: ext_emconf.php
