<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header">
    <f:if condition="{data.header}">
        <f:then><cb:link.editRecord uid="{data.uid}" table="{data.mainType}">{data.header}</cb:link.editRecord></f:then>
        <f:else><cb:link.editRecord uid="{data.uid}" table="{data.mainType}">Mega Menu</cb:link.editRecord></f:else>
    </f:if>
</f:section>

<f:section name="Content">
    <f:asset.css identifier="desiderio-content-preview" href="EXT:desiderio/Resources/Public/Css/content-preview.css" />
    <div class="d-ce-preview" data-slot="card">
        <div class="d-ce-preview__meta">
            <span class="d-ce-preview__type" data-slot="badge">Mega Menu</span>
            <f:if condition="{settings._content_block_name}"><span class="d-ce-preview__ctype">{settings._content_block_name}</span></f:if>
        </div>
        <f:if condition="{data.header}">
            <h3 class="d-ce-preview__title">{data.header}</h3>
        </f:if>
        <f:if condition="{data.intro_title}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Intro Title</span>
                <span class="d-ce-preview__value">{data.intro_title}</span>
            </div>
        </f:if>
        <f:if condition="{data.intro_text}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Intro Text</span>
                <span class="d-ce-preview__value">{data.intro_text}</span>
            </div>
        </f:if>
        <f:if condition="{data.primary_button_text}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Primary Button Text</span>
                <span class="d-ce-preview__value">{data.primary_button_text}</span>
            </div>
        </f:if>
        <f:if condition="{data.shadcn_layout}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Shadcn Layout</span>
                <span class="d-ce-preview__value">{data.shadcn_layout}</span>
            </div>
        </f:if>
        <f:if condition="{data.brand}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Brand</span>
                <span class="d-ce-preview__value">{data.brand}</span>
            </div>
        </f:if>
        <f:if condition="{data.menu_groups}">
            <div class="d-ce-preview__collection">
                <span class="d-ce-preview__label">Menu Groups</span>
                <ul class="d-ce-preview__list">
                    <f:for each="{data.menu_groups}" as="item">
                        <li>
                            <f:if condition="{item.description}"><span>{item.description}</span></f:if>
                            <f:if condition="{item.link_1_label}"><span>{item.link_1_label}</span></f:if>
                            <f:if condition="{item.link_2_label}"><span>{item.link_2_label}</span></f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </div>
</f:section>

</html>
