<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="post" type="T3G\AgencyPack\Blog\Domain\Model\Post" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>
<f:argument name="iterator" type="array" optional="true"/>

<article
    data-blog-tag="{f:if(condition: post.tags, then: post.tags.0.uid, else: 0)}"
    data-blog-category="{f:if(condition: post.categories, then: post.categories.0.uid, else: 0)}"
    itemscope="itemscope"
    itemtype="https://schema.org/BlogPosting"
>
    <d:molecule.card size="sm">
        <f:if condition="{post.featuredImage}">
            <blogvh:link.post post="{post}" additionalAttributes="{aria-hidden: 'true'}" tabindex="-1">
                <f:render partial="General/FeaturedImage" arguments="{image: post.featuredImage, settings: settings.lists.featuredImage}" />
            </blogvh:link.post>
        </f:if>

        <d:molecule.cardHeader>
            <f:render partial="Meta/ListHeader" arguments="{_all}" />
        </d:molecule.cardHeader>

        <d:molecule.cardContent>
            <d:layout.stack gap="md">
                <d:atom.typography tag="h2" variant="h4" itemprop="headline">
                    <blogvh:link.post post="{post}" class="no-underline underline-offset-4 hover:underline" itemprop="url">
                        {post.title}
                    </blogvh:link.post>
                </d:atom.typography>

                <d:atom.typography variant="muted" itemprop="description">
                    <f:if condition="{post.abstract}">
                        <f:then>{post.abstract}</f:then>
                        <f:else>{post.description}</f:else>
                    </f:if>
                </d:atom.typography>
            </d:layout.stack>
        </d:molecule.cardContent>

        <d:molecule.cardFooter class="justify-between gap-3">
            <f:render partial="Meta/ListFooter" arguments="{_all}" />
            <blogvh:link.post post="{post}">
                <d:atom.badge variant="secondary">
                    <span><f:translate extensionName="Blog" key="link.read.more">Read more</f:translate></span>
                    <span data-icon="inline-end" aria-hidden="true"><d:atom.icon name="arrow-right" size="xs"/></span>
                </d:atom.badge>
            </blogvh:link.post>
        </d:molecule.cardFooter>
    </d:molecule.card>
</article>

</html>
