<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-grid-3" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="feature-grid-3">
    <d:layout.container>
        <f:if condition="{data.header}">
            <d:molecule.sectionIntro prefix="feature-grid-3" align="center" class="feature-grid-3__intro">
                <f:fragment name="heading">{data -> f:render.text(field: 'header')}</f:fragment>
                <f:fragment name="lead"><f:if condition="{data.subheadline}">{data -> f:render.text(field: 'subheadline')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>

        <div class="feature-grid-3__grid">
            <f:for each="{data.items}" as="item">
                <d:molecule.card class="feature-grid-3__item relative has-[a:focus-visible]:ring-2 has-[a:focus-visible]:ring-ring">
                    <d:molecule.featureItem prefix="feature-grid-3" class="feature-grid-3__feature" icon="{item.icon}" iconSize="lg" link="{item.link.url}" target="{item.link.target}" textClass="d-richtext">
                        <f:fragment name="title">{item -> f:render.text(field: 'title')}</f:fragment>
                        <f:fragment name="text"><f:if condition="{item.description}">{item -> f:render.text(field: 'description')}</f:if></f:fragment>
                    </d:molecule.featureItem>
                </d:molecule.card>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
