<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-article-grid" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="article-grid">
    <d:layout.container>
        <d:molecule.sectionIntro prefix="article-grid" class="article-grid__intro">
            <f:fragment name="eyebrow"><f:if condition="{data.eyebrow}">{data -> f:render.text(field: 'eyebrow')}</f:if></f:fragment>
            <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
        </d:molecule.sectionIntro>
        <div class="article-grid__grid">
            <f:for each="{data.items}" as="item">
                <d:molecule.card class="article-grid__item">
                    <f:if condition="{item.category}"><p class="article-grid__category">{item -> f:render.text(field: 'category')}</p></f:if>
                    <d:atom.typography tag="h3" variant="h3" class="article-grid__title">
                        <f:if condition="{item.link.url}">
                            <f:then>
                                <d:atom.link href="{f:uri.typolink(parameter: item.link.url)}" target="{item.link.target}" variant="muted" class="article-grid__title-link">{item -> f:render.text(field: 'title')}</d:atom.link>
                            </f:then>
                            <f:else>{item -> f:render.text(field: 'title')}</f:else>
                        </f:if>
                    </d:atom.typography>
                    <f:if condition="{item.description}"><div class="article-grid__description d-richtext">{item -> f:render.text(field: 'description')}</div></f:if>
                    <f:if condition="{item.link.url}">
                        <d:atom.link href="{f:uri.typolink(parameter: item.link.url)}" target="{item.link.target}" variant="muted" class="article-grid__link">
                            <f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:read_article" default="Read article"/>
                            <span class="article-grid__link-arrow" aria-hidden="true">&#8594;</span>
                        </d:atom.link>
                    </f:if>
                </d:molecule.card>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
