<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-footer-app-links" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-app-links" aria-label="{data.header -> f:or(alternative: '{f:translate(key: \'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:footer.aria\', default: \'Footer\')}')}">
    <d:layout.container>
        <div class="footer-app-links__inner">
            <div class="footer-app-links__content">
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="h4" class="footer-app-links__title">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.description}">
                    <div class="footer-app-links__description d-richtext">{data -> f:render.text(field: 'description')}</div>
                </f:if>
                <div class="footer-app-links__buttons">
                    <f:if condition="{data.appstore_link}">
                        <d:atom.button href="{f:uri.typolink(parameter: data.appstore_link.url)}" class="footer-app-links__button" target="{data.appstore_link.target}">
                            <d:atom.icon name="brand-apple"/>
                            App Store
                        </d:atom.button>{data -> f:render.link(field: 'appstore_link')}
                    </f:if>
                    <f:if condition="{data.playstore_link}">
                        <d:atom.button href="{f:uri.typolink(parameter: data.playstore_link.url)}" class="footer-app-links__button" target="{data.playstore_link.target}">
                            <d:atom.icon name="brand-google-play"/>
                            Google Play
                        </d:atom.button>{data -> f:render.link(field: 'playstore_link')}
                    </f:if>
                </div>
            </div>
            <f:if condition="{data.qr_image}">
                <div class="footer-app-links__qr">
                    <f:for each="{data.qr_image}" as="file">
                        <f:image image="{file}" alt="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:footer.qr.alt', default: 'Scan the QR code to download the app')}" width="120" additionalAttributes="{srcset: '{f:uri.image(image: file, width: \'120\')} 1x, {f:uri.image(image: file, width: \'240\')} 2x'}" loading="lazy" decoding="async"/>
                    </f:for>
                </div>
            </f:if>
        </div>
        <f:if condition="{data.copyright}">
            <div class="footer-app-links__bottom">
                <p class="footer-app-links__copyright">{data -> f:render.text(field: 'copyright')}</p>
            </div>
        </f:if>
    </d:layout.container>
</footer>

</html>
