<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-image" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-image feature-image--{data.image_position -> f:or(alternative: 'right')}">
    <d:layout.container>
        <div class="feature-image__grid">
            <div class="feature-image__copy">
                <f:if condition="{data.eyebrow}">
                    <d:atom.badge variant="secondary" class="feature-image__eyebrow">{data -> f:render.text(field: 'eyebrow')}</d:atom.badge>
                </f:if>
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.description}">
                    <d:atom.typography variant="lead" class="feature-image__description">{data -> f:render.text(field: 'description')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.link.url} && {data.link_text}">
                    <div class="feature-image__actions">
                        <d:atom.button href="{data.link.url}" target="{data.link.target}" size="lg">{data -> f:render.text(field: 'link_text')}</d:atom.button>
                    </div>
                </f:if>
            </div>
            <f:if condition="{data.image.0}">
                <div class="feature-image__media">
                    <button type="button" class="d-lightbox" data-d-lightbox
                            data-d-lightbox-src="{f:uri.image(image: data.image.0, maxWidth: 1600)}"
                            data-d-lightbox-close="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:aria.dismiss', default: 'Dismiss this notice')}"
                            aria-label="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:lightbox.open', default: 'Show image in full size')}">
                        <f:image image="{data.image.0}" alt="{data.image.0.alternative -> f:or(alternative: data.header)}" maxWidth="800" loading="lazy" class="feature-image__img" decoding="async"/>
                    </button>
                </div>
            </f:if>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
