<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-image" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-image feature-image--{data.image_position -> f:or(alternative: 'right')}">
    <d:layout.container>
        <div class="feature-image__grid">
            <div class="feature-image__copy">
                <f:if condition="{data.eyebrow}"><span class="feature-image__eyebrow">{data -> f:render.text(field: 'eyebrow')}</span></f:if>
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.description}">
                    <d:atom.typography variant="muted" class="feature-image__description">{data -> f:render.text(field: 'description')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.link.url} && {data.link_text}">
                    <div class="feature-image__actions">
                        <f:link.typolink parameter="{data.link}" class="feature-image__cta">{data -> f:render.text(field: 'link_text')}</f:link.typolink>
                    </div>
                </f:if>
            </div>
            <f:if condition="{data.image.0}">
                <div class="feature-image__media">
                    <f:image image="{data.image.0}" alt="{data -> f:render.text(field: 'header')}" maxWidth="800" class="feature-image__img"/>
                </div>
            </f:if>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
