<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-gdpr-banner" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="ariaLabelFallback">{f:translate(key: 'LLL:EXT:desiderio/ContentBlocks/ContentElements/gdpr-banner/language/labels.xlf:aria_label', default: 'Cookie consent')}</f:variable>
<f:variable name="privacyLinkText">{f:translate(key: 'LLL:EXT:desiderio/ContentBlocks/ContentElements/gdpr-banner/language/labels.xlf:privacy_link_text', default: 'Privacy policy')}</f:variable>

<div class="gdpr-banner" role="region" aria-label="{data.header -> f:or(alternative: '{ariaLabelFallback}')}" data-gdpr-banner="true">
    <d:layout.container>
        <div class="gdpr-banner__inner">
            <div class="gdpr-banner__content">
                <f:if condition="{data.header}">
                    <h2 class="gdpr-banner__title">{data -> f:render.text(field: 'header')}</h2>
                </f:if>
                <div class="gdpr-banner__message">
                    {data -> f:render.text(field: 'content')}
                </div>
                <f:if condition="{data.privacy_link}">
                    <d:atom.link href="{data.privacy_link.url}" target="{data.privacy_link.target}" variant="muted" class="gdpr-banner__privacy-link">{privacyLinkText}</d:atom.link>
                </f:if>
            </div>
            <f:if condition="{data.cookie_categories}">
                <fieldset class="gdpr-banner__categories">
                    <legend class="sr-only"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:consent.categories" default="Cookie categories"/></legend>
                    <f:for each="{data.cookie_categories}" as="cat" iteration="catIteration">
                        <label class="gdpr-banner__category" for="gdpr-cat-{data.uid}-{catIteration.index}">
                            <input type="checkbox"
                                   id="gdpr-cat-{data.uid}-{catIteration.index}"
                                   class="gdpr-banner__checkbox"
                                   {f:if(condition: cat.required, then: 'checked disabled')}/>
                            <span class="gdpr-banner__cat-text">
                                <span class="gdpr-banner__cat-name">{cat -> f:render.text(field: 'name')}</span>
                                <f:if condition="{cat.description_text}">
                                    <span class="gdpr-banner__cat-desc">{cat -> f:render.text(field: 'description_text')}</span>
                                </f:if>
                            </span>
                        </label>
                    </f:for>
                </fieldset>
            </f:if>
            <div class="gdpr-banner__actions">
                <d:atom.button type="button" variant="default" size="sm" class="gdpr-banner__action gdpr-banner__action--accept"><f:if condition="{data.accept_text}"><f:then>{data -> f:render.text(field: 'accept_text')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:consent.acceptAll" default="Accept all"/></f:else></f:if></d:atom.button>
                <d:atom.button type="button" variant="outline" size="sm" class="gdpr-banner__action gdpr-banner__action--save"><f:if condition="{data.save_text}"><f:then>{data -> f:render.text(field: 'save_text')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:consent.savePreferences" default="Save preferences"/></f:else></f:if></d:atom.button>
            </div>
        </div>
    </d:layout.container>
</div>

</html>
