<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:dc="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    xmlns:di="http://typo3.org/ns/Webconsulting/Desiderio/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="record" type="object" optional="true"/>
<f:argument name="files" type="iterable" optional="true"/>
<f:argument name="displayFileSize" type="boolean" optional="true" default="false"/>
<f:argument name="displayDescription" type="boolean" optional="true" default="false"/>
<f:argument name="uploadsType" type="integer" optional="true" default="1"/>

<f:if condition="{files}">
    <f:variable name="fileCount" value="{files -> f:count()}"/>
    <div class="ce-fsc-files" data-slot="attachment-group" data-uploads-type="{uploadsType}">
        <p class="ce-fsc-files__summary" data-slot="attachment-group-label">
            <f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:fsc.download_count" arguments="{count: fileCount}"/>
        </p>
        <div class="ce-fsc-files__list">
            <f:for each="{files}" as="file">
                <div class="ce-fsc-files__item ce-fsc-files__item--type-{uploadsType}" data-slot="attachment" data-state="done" data-size="default" data-orientation="horizontal">
                    <f:switch expression="{uploadsType}">
                        <f:case value="0"></f:case>
                        <f:case value="2">
                            <f:if condition="{di:fileIsImage(extension: file.extension)}">
                                <f:then>
                                    <span class="ce-fsc-files__media ce-fsc-files__media--thumbnail" data-slot="attachment-media" aria-hidden="true">
                                        <f:image image="{file}" width="112c" height="112c" alt="" loading="lazy" decoding="async" class="ce-fsc-files__thumbnail ce-fsc-files__thumbnail--{file.extension}"/>
                                    </span>
                                </f:then>
                                <f:else>
                                    <span class="ce-fsc-files__media" data-slot="attachment-media" aria-hidden="true">
                                        <dc:atom.icon name="{di:fileIconName(extension: file.extension)}" size="sm"/>
                                    </span>
                                </f:else>
                            </f:if>
                        </f:case>
                        <f:defaultCase>
                            <span class="ce-fsc-files__media" data-slot="attachment-media" aria-hidden="true">
                                <dc:atom.icon name="{di:fileIconName(extension: file.extension)}" size="sm"/>
                            </span>
                        </f:defaultCase>
                    </f:switch>
                    <span class="ce-fsc-files__body" data-slot="attachment-content">
                        <span class="ce-fsc-files__title" data-slot="attachment-title">
                            <f:if condition="{file.title}">
                                <f:then>{file.title}</f:then>
                                <f:else>{file.name}</f:else>
                            </f:if>
                        </span>
                        <f:if condition="{displayDescription}">
                            <f:if condition="{file.description}">
                                <span class="ce-fsc-files__description" data-slot="attachment-description">{file.description}</span>
                            </f:if>
                        </f:if>
                        <f:if condition="{uploadsType} != 0">
                            <f:then>
                                <f:if condition="{file.extension}">
                                    <f:then>
                                        <span class="ce-fsc-files__meta" data-slot="attachment-metadata">
                                            <dc:atom.badge variant="outline" class="ce-fsc-files__type">{file.extension}</dc:atom.badge>
                                            <f:if condition="{displayFileSize}">
                                                <f:if condition="{file.size}">
                                                    <span class="ce-fsc-files__size"><f:format.bytes decimals="0">{file.size}</f:format.bytes></span>
                                                </f:if>
                                            </f:if>
                                        </span>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{displayFileSize}">
                                            <f:if condition="{file.size}">
                                                <span class="ce-fsc-files__meta" data-slot="attachment-metadata">
                                                    <span class="ce-fsc-files__size"><f:format.bytes decimals="0">{file.size}</f:format.bytes></span>
                                                </span>
                                            </f:if>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{displayFileSize}">
                                    <f:if condition="{file.size}">
                                        <span class="ce-fsc-files__meta" data-slot="attachment-metadata">
                                            <span class="ce-fsc-files__size"><f:format.bytes decimals="0">{file.size}</f:format.bytes></span>
                                        </span>
                                    </f:if>
                                </f:if>
                            </f:else>
                        </f:if>
                    </span>
                    <span class="ce-fsc-files__actions" data-slot="attachment-actions" aria-hidden="true">
                        <span class="ce-fsc-files__action" data-slot="attachment-action">
                            <dc:atom.icon name="download" size="sm"/>
                        </span>
                    </span>
                    <a href="{file.publicUrl}" class="ce-fsc-files__trigger" data-slot="attachment-trigger" download>
                        <span class="ce-fsc-files__sr">
                            <f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:download_file"/>
                            <f:if condition="{file.title}">
                                <f:then>{file.title}</f:then>
                                <f:else>{file.name}</f:else>
                            </f:if>
                        </span>
                    </a>
                </div>
            </f:for>
        </div>
    </div>
</f:if>

</html>
