<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="record" type="object" optional="true"/>
<f:argument name="files" type="iterable" optional="true"/>
<f:argument name="position" type="string" optional="true"/>
<f:argument name="maxWidth" type="integer" optional="true" default="1200"/>

<f:if condition="{files}">
    <div class="ce-fsc-media ce-fsc-media--{position}">
        <f:for each="{files}" as="file">
            <figure class="ce-fsc-media__figure">
                <f:if condition="{file.uid_local}">
                    <f:then>
                        <f:image src="{file.uid}" treatIdAsReference="true" class="ce-fsc-media__image" maxWidth="{maxWidth}" alt="{file.alternative}"/>
                    </f:then>
                    <f:else>
                        <f:if condition="{file.url}">
                            <f:then>
                                <img src="{file.url}" class="ce-fsc-media__image" alt="{file.alternative}"/>
                            </f:then>
                            <f:else>
                                <f:if condition="{file.publicUrl}">
                                    <f:then>
                                        <img src="{file.publicUrl}" class="ce-fsc-media__image" alt="{file.alternative}"/>
                                    </f:then>
                                    <f:else>
                                        <f:image image="{file}" class="ce-fsc-media__image" maxWidth="{maxWidth}" alt="{file.alternative}"/>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
                <f:if condition="{file.description}">
                    <figcaption class="ce-fsc-media__caption">{file.description}</figcaption>
                </f:if>
            </figure>
        </f:for>
    </div>
</f:if>

</html>
