<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-content-grid" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="content-grid">
    <d:layout.container>
        <f:if condition="{data.header}">
            <d:atom.typography tag="h2" variant="h2" class="content-grid__headline">{data -> f:render.text(field: 'header')}</d:atom.typography>
        </f:if>

        <d:layout.grid cols="{data.columns -> f:or(alternative: '2')}" gap="lg">
            <f:for each="{data.items}" as="item">
                <d:molecule.card class="content-grid__item">
                    <f:if condition="{item.title}">
                        <h3 class="content-grid__title">
                            <f:if condition="{item.link.url}">
                                <f:then>
                                    <d:atom.link href="{item.link.url}" target="{item.link.target}" variant="muted" class="content-grid__title-link">{item -> f:render.text(field: 'title')}</d:atom.link>
                                </f:then>
                                <f:else>{item -> f:render.text(field: 'title')}</f:else>
                            </f:if>
                        </h3>
                    </f:if>
                    <f:if condition="{item.content}">
                        <div class="content-grid__content">{item -> f:render.text(field: 'content')}</div>
                    </f:if>
                    <f:if condition="{item.link.url}">
                        <d:atom.link href="{item.link.url}" target="{item.link.target}" variant="muted" class="content-grid__link">
                            <f:translate key="LLL:EXT:desiderio/ContentBlocks/ContentElements/content-grid/language/labels.xlf:read_more" default="Read more"/>
                            <span class="content-grid__link-arrow" aria-hidden="true">&#8594;</span>
                        </d:atom.link>
                    </f:if>
                </d:molecule.card>
            </f:for>
        </d:layout.grid>
    </d:layout.container>
</d:layout.section>

</html>
