<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:dc="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="data" type="array" description="Content element record data"/>

<f:comment>
    Same section as every Content Block: the shared vertical rhythm, and the
    Appearance tab's frame and space before/after, which classic elements
    show in the backend as well.
</f:comment>
<dc:layout.section
    attributes="{id: 'c{data.uid}'}"
    frame="{data.frame_class}"
    spaceBefore="{data.space_before_class}"
    spaceAfter="{data.space_after_class}"
    class="ce-fsc ce-fsc--{data.CType} ce-frame ce-frame--{data.frame_class}"
>
    <dc:layout.container>
        <f:render section="Main"/>
    </dc:layout.container>
</dc:layout.section>

</html>
