<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-timeline" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-timeline">
    <d:layout.container size="md">
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="feature-timeline__intro">
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.subheadline}">
                    <d:atom.typography variant="lead">{data -> f:render.text(field: 'subheadline')}</d:atom.typography>
                </f:if>
            </header>
        </f:if>

        <ol class="feature-timeline__list">
            <f:for each="{data.items}" as="item" iteration="iter">
                <li class="feature-timeline__item">
                    <div class="feature-timeline__marker">
                        <span class="feature-timeline__dot">{item -> f:render.text(field: 'step')}</span>
                    </div>
                    <div class="feature-timeline__card">
                        <h3 class="feature-timeline__title">{item -> f:render.text(field: 'title')}</h3>
                        <f:if condition="{item.description}">
                            <div class="feature-timeline__description d-richtext">{item -> f:render.text(field: 'description')}</div>
                        </f:if>
                    </div>
                </li>
            </f:for>
        </ol>
    </d:layout.container>
</d:layout.section>

</html>
