<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-minimal" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-minimal">
    <d:layout.container>
        <div class="feature-minimal__layout">
            <header class="feature-minimal__intro">
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.subheadline}"><d:atom.typography variant="muted">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
            </header>
            <div class="feature-minimal__list">
                <f:for each="{data.items}" as="item">
                    <div class="feature-minimal__item">
                        <h3 class="feature-minimal__title">{item -> f:render.text(field: 'title')}</h3>
                        <f:if condition="{item.description_text}">
                            <p class="feature-minimal__description">{item -> f:render.text(field: 'description_text')}</p>
                        </f:if>
                    </div>
                </f:for>
            </div>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
