<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Main">
    <d:layout.container>
        <!--TYPO3SEARCH_begin-->
        <f:if condition="{content.main}">
            <f:render.contentArea contentArea="{content.main}"/>
        </f:if>
        <!--TYPO3SEARCH_end-->
    </d:layout.container>
</f:section>

</html>
