<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:s2f="http://typo3.org/ns/Webconsulting/Shadcn2fluidTemplates/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Main">
    <s2f:layout.container>
        <div class="desiderio-article">
            <div class="desiderio-article__content">
                {contentAreas.main -> f:render.contentArea()}
            </div>

            <aside class="desiderio-article__sidebar">
                {contentAreas.sidebar -> f:render.contentArea()}
            </aside>
        </div>
    </s2f:layout.container>
</f:section>

</html>
