<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:section name="Main">
    <d:layout.container>
        <div class="desiderio-article">
            <div class="desiderio-article__content">
                <f:if condition="{content.main}">
                    <f:render.contentArea contentArea="{content.main}"/>
                </f:if>
            </div>

            <aside class="desiderio-article__sidebar">
                <f:if condition="{content.sidebar}">
                    <f:render.contentArea contentArea="{content.sidebar}"/>
                </f:if>
            </aside>
        </div>
    </d:layout.container>
</f:section>

</html>
