<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:comment>
    EXT:blog list pager (T3G\AgencyPack\Blog\Pagination\BlogPagination). Blog
    paginates the current action, so no actionName is passed; the markup lives
    in Molecule/Pagination and is shared with the News pager.
</f:comment>
<f:argument name="pagination" type="object" optional="{true}" />

<d:molecule.pagination
    class="desiderio-blog-pagination"
    pages="{pagination.displayPageNumbers}"
    currentPage="{pagination.currentPageNumber}"
    firstPage="{pagination.firstPageNumber}"
    lastPage="{pagination.lastPageNumber}"
    previousPage="{pagination.previousPageNumber}"
    nextPage="{pagination.nextPageNumber}"
    hasLessPages="{pagination.lessPages}"
    hasMorePages="{pagination.morePages}"
    addQueryString="1"
/>
</html>
