<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Post" />

<f:section name="Content">
    <f:if condition="{post.authors}">
        <section class="border-t border-border pt-6" aria-label="{f:translate(extensionName: 'Blog', key: 'author.aboutTheAuthor', default: 'About the author')}">
            <d:layout.stack gap="md">
                <f:for each="{post.authors}" as="author">
                    <f:render partial="Post/Author" arguments="{_all}" />
                </f:for>
            </d:layout.stack>
        </section>
    </f:if>
</f:section>

</html>
