<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="Content">
    <aside class="sticky top-24" aria-label="{f:translate(extensionName: 'Blog', key: 'headline.sidebar', default: 'Blog sidebar')}">
        <d:layout.stack gap="lg">
            <f:for each="{settings.sidebarWidgets}" as="widget">
                <f:cObject typoscriptObjectPath="{widget}" />
            </f:for>
        </d:layout.stack>
    </aside>
</f:section>

</html>
