<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-cta-gradient" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="cta-gradient">
    <d:layout.container>
        <div class="cta-gradient__card">
            <div class="cta-gradient__content">
                <f:if condition="{data.header}"><h2 class="cta-gradient__headline">{data -> f:render.text(field: 'header')}</h2></f:if>
                <f:if condition="{data.description}"><div class="cta-gradient__description d-richtext">{data -> f:render.text(field: 'description')}</div></f:if>
                <f:if condition="{data.cta_text} && {data.cta_link.url}">
                    <d:atom.button href="{f:uri.typolink(parameter: data.cta_link.url)}" target="{data.cta_link.target}" variant="secondary" size="lg">{data -> f:render.text(field: 'cta_text')}</d:atom.button>{data -> f:render.link(field: 'cta_link')}
                </f:if>
            </div>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
