<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-centered" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="feature-centered">
    <d:layout.container>
        <f:if condition="{data.eyebrow} || {data.header} || {data.subheadline}">
            <d:molecule.sectionIntro prefix="feature-centered" align="center" leadVariant="lead" class="feature-centered__intro" leadClass="feature-centered__subheadline">
                <f:fragment name="eyebrow"><f:if condition="{data.eyebrow}">{data -> f:render.text(field: 'eyebrow')}</f:if></f:fragment>
                <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
                <f:fragment name="lead"><f:if condition="{data.subheadline}">{data -> f:render.text(field: 'subheadline')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>

        <div class="feature-centered__items">
            <f:for each="{data.items}" as="item">
                <div class="feature-centered__item">
                    <f:if condition="{item.icon}">
                        <span class="feature-centered__icon" aria-hidden="true"><d:atom.icon name="{item.icon}" size="xl"/></span>
                    </f:if>
                    <d:atom.typography tag="h3" variant="h4" class="feature-centered__title">{item -> f:render.text(field: 'title')}</d:atom.typography>
                    <f:if condition="{item.description}">
                        <div class="feature-centered__description d-richtext">{item -> f:render.text(field: 'description')}</div>
                    </f:if>
                </div>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
