<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="title" type="string" optional="{true}" default=""/>
<f:argument name="mainMenu" type="iterable" optional="{true}"/>

<aside class="desiderio-dashboard-template__rail" aria-label="Site sections">
    <div class="desiderio-dashboard-template__rail-header">
        <span class="desiderio-dashboard-template__status"></span>
        <span>{title}</span>
    </div>

    <f:if condition="{mainMenu}">
        <nav class="desiderio-dashboard-template__nav">
            <f:for each="{mainMenu}" as="item">
                <f:link.typolink
                    parameter="{item.link}"
                    class="desiderio-dashboard-template__nav-link {f:if(condition: '{item.active}', then: 'desiderio-dashboard-template__nav-link--active')}"
                >
                    {item.title}
                </f:link.typolink>
            </f:for>
        </nav>
    </f:if>
</aside>

</html>
