<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="site" type="mixed" optional="{true}"/>

<f:comment>
    Sticky reading-progress indicator for long-read Editorial articles. The
    data-d-reading-progress hook in Resources/Public/Js/desiderio.js measures
    scroll over the [itemprop=articleBody] region and drives the Progress atom's
    indicator transform + aria-valuenow. Gated behind the editorial.readingProgress
    site setting (sensible default: on for the Blog & Magazine preset).
</f:comment>
<f:if condition="{site.configuration.settings.desiderio.editorial.readingProgress}">
    <div
        class="desiderio-reading-progress"
        data-d-reading-progress
        data-d-reading-progress-label="{f:translate(extensionName: 'desiderio', key: 'editorial.readingProgress.label', default: 'Reading progress')}"
    >
        <d:atom.progress value="0"/>
    </div>
</f:if>

</html>
