<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-nav-pagination" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="nav-pagination">
    <d:layout.container>
        <nav class="nav-pagination__inner" aria-label="{data.header -> f:or(alternative: 'Pagination')}">
            <f:if condition="{data.previous_link.url}">
                <f:link.typolink parameter="{data.previous_link}" class="nav-pagination__prev nav-pagination__edge" rel="prev">
                    <span aria-hidden="true">&#8592;</span>
                    <span>Previous</span>
                </f:link.typolink>
            </f:if>
            <ul class="nav-pagination__list">
                <f:for each="{data.items}" as="item">
                    <f:variable name="pageLabel">Page {item -> f:render.text(field: 'label')}</f:variable>
                    <li>
                        <f:if condition="{item.active}">
                            <f:then>
                                <span class="nav-pagination__page nav-pagination__page--active" aria-current="page" aria-label="{pageLabel}, current page">{item -> f:render.text(field: 'label')}</span>
                            </f:then>
                            <f:else>
                                <f:if condition="{item.link.url}">
                                    <f:link.typolink parameter="{item.link}" class="nav-pagination__page" additionalAttributes="{'aria-label': pageLabel}">{item -> f:render.text(field: 'label')}</f:link.typolink>
                                </f:if>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
            <f:if condition="{data.next_link.url}">
                <f:link.typolink parameter="{data.next_link}" class="nav-pagination__next nav-pagination__edge" rel="next">
                    <span>Next</span>
                    <span aria-hidden="true">&#8594;</span>
                </f:link.typolink>
            </f:if>
        </nav>
    </d:layout.container>
</d:layout.section>

</html>
