<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-nav-pagination" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="nav-pagination">
    <d:layout.container>
        <nav class="nav-pagination__inner" aria-label="Pagination">
            <f:if condition="{data.previous_link.url}">
                <f:link.typolink parameter="{data.previous_link}" class="nav-pagination__prev" additionalAttributes="{'aria-label': 'Previous page'}">Previous</f:link.typolink>
            </f:if>
            <ul class="nav-pagination__list">
                <f:for each="{data.items}" as="item">
                    <li>
                        <f:if condition="{item.active}">
                            <f:then>
                                <span class="nav-pagination__page nav-pagination__page--active" aria-current="page">{item -> f:render.text(field: 'label')}</span>
                            </f:then>
                            <f:else>
                                <f:if condition="{item.link.url}">
                                    <f:link.typolink parameter="{item.link}" class="nav-pagination__page">{item -> f:render.text(field: 'label')}</f:link.typolink>
                                </f:if>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
            </ul>
            <f:if condition="{data.next_link.url}">
                <f:link.typolink parameter="{data.next_link}" class="nav-pagination__next" additionalAttributes="{'aria-label': 'Next page'}">Next</f:link.typolink>
            </f:if>
        </nav>
    </d:layout.container>
</d:layout.section>

</html>
