<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:argument name="flashMessageClass" type="string" optional="{true}" default="" />

<f:variable name="defaultFlashMessageClass"><d:atom.controlClass slot="flashDestructive" /></f:variable>

<f:flashMessages queueIdentifier="extbase.flashmessages.tx_powermail_pi1" as="flashMessages">
    <f:for each="{flashMessages}" as="flashMessage">
        <div class="{f:if(condition: flashMessageClass, then: flashMessageClass, else: defaultFlashMessageClass)}" role="alert">
            <f:if condition="{flashMessage.title}">
                <p class="font-medium">{flashMessage.title}</p>
            </f:if>
            <p>{flashMessage.message}</p>
        </div>
    </f:for>
</f:flashMessages>
</html>
