<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:argument name="form" type="object" optional="{true}" />

<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <nav class="mb-6 {f:render(partial: 'Form/ShadcnClass', arguments: {slot: 'alertDestructive'}) -> f:format.trim()}" aria-label="{f:translate(key: 'validationerror_container_label', extensionName: 'Powermail')}">
            <h3 class="mb-2 font-medium text-destructive"><f:translate key="validationerror_title" extensionName="Powermail" /></h3>
            <ol class="list-decimal space-y-1 ps-4">
                <f:for each="{validationResults.flattenedErrors}" as="errors">
                    <f:for each="{errors}" as="singleError">
                        <li>
                            <f:if condition="{singleError.message} == 'spam_details'">
                                <f:then>
                                    <f:translate key="validationerror_spam" extensionName="Powermail" /> {singleError.arguments.spamfactor}
                                    <f:translate key="validationerror_{singleError.message}" extensionName="Powermail">{singleError.message}</f:translate>
                                </f:then>
                                <f:else>
                                    <f:if condition="{singleError.arguments.marker}">
                                        <a class="underline underline-offset-4" href="#powermail_field_{singleError.arguments.marker}">
                                            <vh:getter.getFieldPropertyFromMarkerAndForm marker="{singleError.arguments.marker}" form="{form}" property="title" />:
                                            <f:if condition="{vh:getter.getFieldPropertyFromMarkerAndForm(marker: singleError.arguments.marker, form: form, property: 'mandatory_text')} !== ''">
                                                <f:then>{vh:getter.getFieldPropertyFromMarkerAndForm(marker: singleError.arguments.marker, form: form, property: 'mandatory_text')}</f:then>
                                                <f:else><f:translate key="validationerror_{singleError.message}" extensionName="Powermail">{singleError.message}</f:translate></f:else>
                                            </f:if>
                                        </a>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </f:for>
            </ol>
        </nav>
    </f:if>
</f:form.validationResults>
</html>
