<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>
    One facet group: a fieldset of checkboxes, because several options of the
    same group can be active at once. Options beyond settings.faceting.limit
    are hidden behind the show-more toggle of EXT:solr's
    facet_options_controller.js, which keys on tx-solr-facet-hidden and
    tx-solr-facet-show-all; data-facet-name and data-facet-item-value stay for
    the same reason.
</f:comment>

<f:argument name="facet" type="object" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>

<f:variable name="facetOptionLimit">{f:if(condition: '{settings.faceting.limit}', then: '{settings.faceting.limit}', else: 10)}</f:variable>

<fieldset class="d-facet-group" data-facet-name="{facet.name}">
    <legend class="d-facet-group__legend">{facet.label}</legend>

    <ul role="list" class="d-facet-group__options facet-option-list facet-type-options fluidfacet" data-facet-name="{facet.name}" data-facet-label="{facet.label}" id="facet{facet.name}">
        <f:for each="{facet.options}" as="option" iteration="iteration">
            <li class="facet-option {f:if(condition:'!({iteration.index} < {facetOptionLimit})', then:' tx-solr-facet-hidden')}" data-facet-item-value="{option.value}">
                <f:render partial="Facets/Checkbox" arguments="{facet: facet, item: option, id: 'd-facet-{facet.name}-{option.value -> f:format.urlencode()}'}"/>
            </li>
        </f:for>

        <f:if condition="{facet.options -> f:count()} > {facetOptionLimit}">
            <li>
                <a href="#" class="tx-solr-facet-show-all d-facet-group__toggle" data-label-more="{f:translate(key: 'solr.facet.showMore', domain: 'desiderio.labels')}" data-label-less="{f:translate(key: 'solr.facet.showFewer', domain: 'desiderio.labels')}">
                    <f:translate key="solr.facet.showMore" domain="desiderio.labels">Show more</f:translate>
                </a>
            </li>
        </f:if>
    </ul>
</fieldset>

</html>
