<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers"
    xmlns:di="http://typo3.org/ns/Webconsulting/Desiderio/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />
<f:argument name="mail" type="object" optional="{true}" />

<f:variable name="selectNativeClass"><d:atom.controlClass slot="selectNative" /></f:variable>
<f:variable name="selectIconClass"><d:atom.controlClass slot="selectIcon" /></f:variable>

<d:molecule.field role="" class="powermail_fieldwrap_{field.marker} {field.css}">
    <f:render partial="Form/FieldLabel" arguments="{field: field}" />
    <d:molecule.selectNative>
        <vh:form.selectField
            options="{field.modifiedSettings}"
            property="{field.marker}"
            class="{selectNativeClass -> f:format.trim()} {vh:validation.errorClass(field: field, class: 'border-destructive ring-1 ring-destructive/20')}"
            id="powermail_field_{field.marker}"
            autocomplete="{vh:string.autocomplete(field: field)}"
            additionalAttributes="{vh:validation.validationDataAttribute(field: field)}"
            value="{vh:misc.prefillField(field: field, mail: mail)}" />
        <di:icon name="chevron-down" size="sm" class="{selectIconClass -> f:format.trim()}" />
    </d:molecule.selectNative>
    <f:render partial="Misc/FieldError" arguments="{field: field, settings: settings}" />
</d:molecule.field>
</html>
