<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers" data-namespace-typo3-fluid="true">
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />
<f:argument name="mail" type="object" optional="{true}" />

<div role="group" data-slot="field" data-orientation="vertical" class="powermail_fieldwrap_{field.marker} {field.css} {f:render(partial: 'Form/ShadcnClass', arguments: {slot: 'field'}) -> f:format.trim()}">
    <f:render partial="Form/FieldLabel" arguments="{field: field}" />
    <f:form.textfield
        type="date"
        property="{field.marker}"
        placeholder="{field.placeholder}"
        value="{vh:misc.prefillField(field: field, mail: mail)}"
        class="{f:render(partial: 'Form/ShadcnClass', arguments: {slot: 'input'}) -> f:format.trim()} {vh:validation.errorClass(field: field, class: 'border-destructive ring-1 ring-destructive/20')}"
        autocomplete="{vh:string.autocomplete(field: field)}"
        additionalAttributes="{vh:validation.validationDataAttribute(field: field)}"
        id="powermail_field_{field.marker}" />
</div>
</html>
