<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:di="http://typo3.org/ns/Webconsulting/Desiderio/ViewHelpers"
    xmlns:friendlycaptcha="http://typo3.org/ns/StudioMitte/FriendlyCaptcha/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />
<f:argument name="mail" type="object" optional="{true}" />

<f:variable name="captchaConfiguration" value="{friendlycaptcha:configuration()}" />
<f:variable name="friendlyCaptchaTestMode" value="{di:friendlyCaptchaTestModeEnabled()}" />
<f:variable name="fieldErrorClass"><d:atom.controlClass slot="fieldError" /></f:variable>

<f:if condition="{friendlyCaptchaTestMode}">
    <f:then>
        <f:form.hidden property="{field.marker}" value="1" id="powermail_field_{field.marker}" respectSubmittedDataValue="false" />
    </f:then>
    <f:else>
        <d:molecule.field class="powermail_fieldwrap_{field.marker} {field.css}">
            <f:render partial="Form/FieldLabel" arguments="{field: field}" />
            <f:form.hidden property="{field.marker}" value="1" id="powermail_field_{field.marker}" respectSubmittedDataValue="false" />
            <f:if condition="{captchaConfiguration.enabled}">
                <f:then>
                    <f:asset.script defer="1" async="1" identifier="friendlycaptcha" src="{captchaConfiguration.jsPath}" useNonce="true" />
                    <div class="frc-captcha" data-sitekey="{captchaConfiguration.siteKey}" {f:if(condition: '{captchaConfiguration.useEuPuzzleEndpoint}', then: 'data-api-endpoint="eu"')}></div>
                </f:then>
                <f:else>
                    <p class="{fieldErrorClass -> f:format.trim()}">
                        <f:translate key="LLL:EXT:friendlycaptcha_official/Resources/Private/Language/locallang.xlf:configuration_missing" />
                    </p>
                </f:else>
            </f:if>
        </d:molecule.field>
    </f:else>
</f:if>
</html>
