<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers" data-namespace-typo3-fluid="true">
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />
<f:argument name="mail" type="object" optional="{true}" />

<div class="powermail_fieldwrap powermail_fieldwrap_type_input powermail_fieldwrap_{field.marker} {field.css} space-y-2">
    <f:render partial="Form/FieldLabel" arguments="{field: field}" />
    <f:form.textfield
        type="{vh:validation.fieldTypeFromValidation(field: field)}"
        property="{field.marker}"
        placeholder="{field.placeholder}"
        value="{vh:misc.prefillField(field: field, mail: mail)}"
        class="powermail_input h-8 w-full min-w-0 rounded-none border border-input bg-transparent px-2.5 py-1 text-xs text-foreground transition-colors outline-none placeholder:text-muted-foreground focus-visible:border-ring focus-visible:ring-1 focus-visible:ring-ring/50 disabled:pointer-events-none disabled:cursor-not-allowed disabled:bg-input/50 disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-1 aria-invalid:ring-destructive/20 dark:bg-input/30 dark:disabled:bg-input/80 dark:aria-invalid:border-destructive/50 dark:aria-invalid:ring-destructive/40 {vh:validation.errorClass(field: field, class: 'border-destructive ring-1 ring-destructive/20')}"
        autocomplete="{vh:string.autocomplete(field: field)}"
        additionalAttributes="{vh:validation.validationDataAttribute(field: field)}"
        id="powermail_field_{field.marker}" />
</div>
</html>
