<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers" data-namespace-typo3-fluid="true">
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />
<f:argument name="mail" type="object" optional="{true}" />

<div class="powermail_fieldwrap powermail_fieldwrap_type_password powermail_fieldwrap_{field.marker} {field.css} d-powermail-field space-y-2">
    <f:render partial="Form/FieldLabel" arguments="{field: field}" />
    <f:form.password
        property="{field.marker}"
        placeholder="{field.placeholder}"
        value="{vh:misc.prefillField(field: field, mail: mail)}"
        class="powermail_password d-powermail-control {f:render(partial: 'Form/ShadcnClass', arguments: {name: 'input'}) -> f:format.trim()} {vh:validation.errorClass(field: field, class: 'is-invalid border-destructive ring-1 ring-destructive/20')}"
        autocomplete="{vh:string.autocomplete(field: field)}"
        additionalAttributes="{vh:validation.validationDataAttribute(field: field)}"
        id="powermail_field_{field.marker}" />
</div>
</html>
