<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers" xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection" data-namespace-typo3-fluid="true">
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />
<f:argument name="mail" type="object" optional="{true}" />

<f:variable name="radioInputClass"><d:atom.controlClass slot="radioInput" /></f:variable>
<f:variable name="radioDotClass"><d:atom.controlClass slot="radioDot" /></f:variable>
<f:variable name="optionTextClass"><d:atom.controlClass slot="optionText" /></f:variable>

<d:molecule.fieldSet class="powermail_fieldwrap_{field.marker} {field.css}">
    <f:if condition="{field.css} != 'nolabel'">
        <d:molecule.fieldLegend mandatory="{field.mandatory}" title="{field.description}">
            <vh:string.escapeLabels>{field.title}</vh:string.escapeLabels>
        </d:molecule.fieldLegend>
    </f:if>
    <div data-slot="radio-group" class="grid gap-3 sm:grid-cols-2">
        <f:for each="{field.modifiedSettings}" as="setting" iteration="index">
            <div>
                <d:molecule.optionLabel for="powermail_field_{field.marker}_{index.cycle}" class="{vh:validation.errorClass(field: field, class: 'text-destructive')}">
                    <d:molecule.radioControl>
                        <f:form.radio
                            property="{field.marker}"
                            value="{setting.value}"
                            checked="{vh:misc.prefillMultiField(field: field, mail: mail, cycle: index.cycle)}"
                            id="powermail_field_{field.marker}_{index.cycle}"
                            additionalAttributes="{vh:validation.validationDataAttribute(field: field, iteration: index)}"
                            class="{radioInputClass -> f:format.trim()}" />
                        <span class="{radioDotClass -> f:format.trim()}"></span>
                    </d:molecule.radioControl>
                    <span data-slot="label" class="{optionTextClass -> f:format.trim()}">
                        <vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels>
                    </span>
                </d:molecule.optionLabel>
            </div>
        </f:for>
    </div>
    <f:render partial="Misc/FieldError" arguments="{field: field, settings: settings}" />
</d:molecule.fieldSet>
</html>
