<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />

<div data-slot="form-item" class="powermail_fieldwrap_{field.marker} {field.css}">
    <f:form.reset value="{field.title}" class="group/button inline-flex h-9 shrink-0 items-center justify-center gap-1.5 rounded-md border border-border bg-background px-4 text-sm font-medium text-foreground whitespace-nowrap shadow-xs transition-all outline-none select-none hover:bg-muted hover:text-foreground focus-visible:border-ring focus-visible:ring-1 focus-visible:ring-ring/50 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 dark:border-input dark:bg-input/30 dark:hover:bg-input/50" />
</div>
</html>
