<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection" data-namespace-typo3-fluid="true">
<f:argument name="field" type="object" />
<f:argument name="settings" type="array" optional="{true}" />

<f:variable name="buttonOutlineClass"><d:atom.controlClass slot="buttonOutline" /></f:variable>

<div data-slot="form-item" class="powermail_fieldwrap_{field.marker} {field.css}">
    <f:form.reset value="{field.title}" class="{buttonOutlineClass -> f:format.trim()}" />
</div>
</html>
