<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-download-form" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="download-form">
    <d:layout.container>
        <div class="download-form__layout">
            <div class="download-form__content">
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.description}"><d:atom.typography variant="muted" class="download-form__description">{data -> f:render.text(field: 'description')}</d:atom.typography></f:if>
                <f:if condition="{data.resource_title}">
                    <p class="download-form__resource">
                        <span class="download-form__resource-icon" aria-hidden="true"><d:atom.icon name="download" size="sm"/></span>
                        <span>{data -> f:render.text(field: 'resource_title')}</span>
                    </p>
                </f:if>
                <f:if condition="{data.reassurance}">
                    <p class="download-form__reassurance">
                        <span class="download-form__reassurance-icon" aria-hidden="true"><d:atom.icon name="check-circle" size="sm"/></span>
                        <span>{data -> f:render.text(field: 'reassurance')}</span>
                    </p>
                </f:if>
            </div>
            <d:molecule.card class="download-form__card">
                <f:if condition="{data.image}">
                    <div class="download-form__preview">
                        <f:for each="{data.image}" as="fileReference">
                            <f:image image="{fileReference}" maxWidth="400" alt="{f:if(condition: fileReference.alternative, then: fileReference.alternative, else: '{data.resource_title}')}" class="download-form__image"/>
                        </f:for>
                    </div>
                </f:if>
<f:comment>Legacy editor fields kept for migrated records; TYPO3 Form Framework owns rendering and submit behavior. {data.form_action}{data.button_text}</f:comment>

                <d:molecule.formRenderer persistenceIdentifier="EXT:desiderio/Resources/Private/Forms/DesiderioDownload.form.yaml" class="download-form__form"/>
            </d:molecule.card>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
