<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="posts" type="iterable" optional="true"/>
<f:argument name="pagination" type="object" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>
<f:argument name="type" type="string" optional="true"/>

<f:variable name="paginated" value="{pagination.paginatedItems}"/>

<section data-blog-list="{type -> f:or(alternative: 'default')}">
    <f:if condition="{pagination} && {paginated}">
        <f:then>
            <d:layout.stack gap="lg">
                <f:if condition="{settings.lists.pagination.insertAbove}">
                    <f:render partial="Pagination/Pagination" arguments="{pagination: pagination}" />
                </f:if>
                <d:layout.grid cols="3" gap="md">
                    <f:for each="{paginated}" iteration="iterator" as="post">
                        <blogvh:cache post="{post}" />
                        <f:render partial="List/Post" arguments="{_all}" />
                    </f:for>
                </d:layout.grid>
                <f:if condition="{settings.lists.pagination.insertBelow}">
                    <f:render partial="Pagination/Pagination" arguments="{pagination: pagination}" />
                </f:if>
            </d:layout.stack>
        </f:then>
        <f:else if="{posts}">
            <d:layout.grid cols="3" gap="md">
                <f:for each="{posts}" iteration="iterator" as="post">
                    <blogvh:cache post="{post}" />
                    <f:render partial="List/Post" arguments="{_all}" />
                </f:for>
            </d:layout.grid>
        </f:else>
        <f:else>
            <d:molecule.alert>
                <d:molecule.alertTitle><f:translate extensionName="Blog" key="list.no_posts.title">No posts</f:translate></d:molecule.alertTitle>
                <d:molecule.alertDescription><f:translate extensionName="Blog" key="list.no_posts.message">There are no posts yet.</f:translate></d:molecule.alertDescription>
            </d:molecule.alert>
        </f:else>
    </f:if>
</section>

</html>
