<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="posts" type="iterable" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>
<f:argument name="type" type="string" optional="true"/>

<f:variable name="listType" value="{type ?: 'default'}"/>
<f:variable name="postCount" value="{posts -> f:count()}"/>

<section class="min-w-0" data-blog-teaserlist="{listType}" data-blog-postcount="{postCount}">
    <f:if condition="{posts}">
        <f:then>
            <f:switch expression="{listType}">
                <f:case value="related">
                    <d:layout.grid cols="3" gap="lg" class="items-start">
                        <f:for each="{posts}" iteration="iterator" as="post">
                            <blogvh:cache post="{post}" />
                            <f:render partial="Teaser/RelatedPost" arguments="{post: post, settings: settings, iterator: iterator}" />
                        </f:for>
                    </d:layout.grid>
                </f:case>
                <f:defaultCase>
                    <d:layout.grid cols="3" gap="md" class="items-stretch">
                        <f:for each="{posts}" iteration="iterator" as="post">
                            <blogvh:cache post="{post}" />
                            <f:render partial="Teaser/Post" arguments="{post: post, settings: settings, iterator: iterator}" />
                        </f:for>
                    </d:layout.grid>
                </f:defaultCase>
            </f:switch>
        </f:then>
        <f:else>
            <d:molecule.alert>
                <d:atom.icon name="book-open" size="sm"/>
                <d:molecule.alertDescription><f:translate extensionName="Blog" key="list.no_posts.message">There are no posts yet.</f:translate></d:molecule.alertDescription>
            </d:molecule.alert>
        </f:else>
    </f:if>
</section>

</html>
