<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-cookie-banner" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="cookieId" value="cookie-banner-{data.uid}"/>
<f:variable name="cookieFallback"><f:translate key="LLL:EXT:desiderio/ContentBlocks/ContentElements/cookie-banner/language/labels.xlf:aria.region.fallback">Cookie consent</f:translate></f:variable>

<div class="cookie-banner cookie-banner--{data.position -> f:or(alternative: 'bottom')}"
     role="region"
     aria-labelledby="{f:if(condition: data.header, then: '{cookieId}-title', else: '')}"
     aria-label="{f:if(condition: data.header, then: '', else: cookieFallback)}"
     data-cookie-banner="true">
    <d:layout.container>
        <div class="cookie-banner__inner">
            <div class="cookie-banner__content">
                <f:if condition="{data.header}">
                    <h2 class="cookie-banner__title" id="{cookieId}-title">
                        <span class="cookie-banner__title-icon" aria-hidden="true"><d:atom.icon name="shield-check" size="sm"/></span>
                        <span>{data -> f:render.text(field: 'header')}</span>
                    </h2>
                </f:if>
                <div class="cookie-banner__message">
                    {data -> f:render.text(field: 'content')}
                </div>
            </div>
            <div class="cookie-banner__actions">
                <d:atom.button type="button" variant="default" size="sm" class="cookie-banner__action">
                    <span data-icon="inline-start" aria-hidden="true"><d:atom.icon name="check" size="sm"/></span>
                    <span><f:if condition="{data.accept_text}"><f:then>{data -> f:render.text(field: 'accept_text')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:consent.acceptAll" default="Accept all"/></f:else></f:if></span>
                </d:atom.button>
                <d:atom.button type="button" variant="outline" size="sm" class="cookie-banner__action"><f:if condition="{data.decline_text}"><f:then>{data -> f:render.text(field: 'decline_text')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:consent.decline" default="Decline"/></f:else></f:if></d:atom.button>
                <f:if condition="{data.settings_link}">
                    <d:atom.link href="{data.settings_link.url}" target="{data.settings_link.target}" variant="muted" class="cookie-banner__settings-link"><f:if condition="{data.settings_text}"><f:then>{data -> f:render.text(field: 'settings_text')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:consent.managePreferences" default="Manage preferences"/></f:else></f:if></d:atom.link>
                </f:if>
            </div>
        </div>
    </d:layout.container>
</div>

</html>
