<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-data-request-form" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="data-request-form-section">
    <d:layout.container>
        <div class="data-request-form">
            <f:if condition="{data.header}">
                <h2 class="data-request-form__title">{data -> f:render.text(field: 'header')}</h2>
            </f:if>
            <f:if condition="{data.description}">
                <div class="data-request-form__description d-richtext">{data -> f:render.text(field: 'description')}</div>
            </f:if>
<f:comment>Legacy editor fields kept for migrated records; TYPO3 Form Framework owns rendering and submit behavior. {data.request_types}{data.submit_text}</f:comment>

            <d:molecule.formRenderer persistenceIdentifier="EXT:desiderio/Resources/Private/Forms/DesiderioDataRequest.form.yaml" class="data-request-form__form"/>
            <f:if condition="{data.privacy_text}">
                <p class="data-request-form__privacy">{data -> f:render.text(field: 'privacy_text')}</p>
            </f:if>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
