<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-content-divider" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="variant" value="{data.variant -> f:or(alternative: 'horizontal')}"/>
<f:variable name="spacing" value="{data.spacing -> f:or(alternative: 'default')}"/>
<f:variable name="color" value="{data.color -> f:or(alternative: 'default')}"/>

<div class="content-divider content-divider--spacing-{spacing} content-divider--color-{color}">
    <d:layout.container>
        <f:switch expression="{variant}">
            <f:case value="with-text">
                <f:if condition="{data.divider_text}">
                    <f:then>
                        <div class="content-divider__rule" role="separator" aria-label="{data.divider_text}">
                            <span class="content-divider__line" aria-hidden="true"></span>
                            <span class="content-divider__label">{data -> f:render.text(field: 'divider_text')}</span>
                            <span class="content-divider__line" aria-hidden="true"></span>
                        </div>
                    </f:then>
                    <f:else>
                        <d:atom.separator class="content-divider__line content-divider__line--full"/>
                    </f:else>
                </f:if>
            </f:case>
            <f:case value="decorative">
                <div class="content-divider__rule content-divider__rule--decorative" role="separator">
                    <span class="content-divider__line" aria-hidden="true"></span>
                    <span class="content-divider__dot" aria-hidden="true"></span>
                    <span class="content-divider__line" aria-hidden="true"></span>
                </div>
            </f:case>
            <f:defaultCase>
                <d:atom.separator class="content-divider__line content-divider__line--full"/>
            </f:defaultCase>
        </f:switch>
    </d:layout.container>
</div>

</html>
