<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header"></f:section>

<f:section name="Content">
    <f:asset.css identifier="desiderio-content-preview" href="EXT:desiderio/Resources/Public/Css/content-preview.css" />
    <div class="d-ce-preview" data-slot="card">
        <div class="d-ce-preview__meta">
            <span class="d-ce-preview__type" data-slot="badge">Card Interactive Data View</span>
            <f:if condition="{settings._content_block_name}"><span class="d-ce-preview__ctype">{settings._content_block_name}</span></f:if>
            <span class="d-ce-preview__ctype"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:preview.uid"/>: {data.uid}</span>
            <span class="d-ce-preview__ctype"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:preview.page"/>: {data.pid}</span>
        </div>
        <f:if condition="{data.header}">
            <h3 class="d-ce-preview__title">{data.header}</h3>
        </f:if>
        <f:if condition="{data.badge_text}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Badge Text</span>
                <span class="d-ce-preview__value">{data.badge_text}</span>
            </div>
        </f:if>
        <f:if condition="{data.description}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Description</span>
                <span class="d-ce-preview__value">{data.description}</span>
            </div>
        </f:if>
        <f:if condition="{data.icon_style}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Icon Style</span>
                <span class="d-ce-preview__value d-ce-preview__icon-value"><span class="d-ce-preview__icon" aria-hidden="true"><d:atom.icon name="{data.icon_style}" size="sm"/></span></span>
            </div>
        </f:if>
    </div>
</f:section>

</html>
