<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Widget" />

<f:section name="Title"><f:translate extensionName="Blog" key="headline.recentcomments">Recent comments</f:translate></f:section>

<f:section name="Content">
    <f:if condition="{comments}">
        <f:then>
            <ul role="list" class="flex flex-col gap-3">
                <f:for each="{comments}" as="comment">
                    <li class="border-b border-border/70 pb-3 last:border-b-0 last:pb-0" data-blog-comment="{comment.uid}">
                        <p class="text-sm leading-6 text-muted-foreground">
                            <f:format.crop maxCharacters="110" append="&nbsp;[…]">{comment.comment}</f:format.crop>
                        </p>
                        <div class="mt-2 flex flex-wrap items-center gap-1 text-xs text-muted-foreground">
                            <span class="inline-flex size-5 items-center justify-center rounded-md bg-muted" aria-hidden="true"><d:atom.icon name="message-circle" size="xs"/></span>
                            <span class="font-medium text-foreground">{comment.name}</span>
                            <span><f:translate extensionName="Blog" key="widget.recentcomments.on">on</f:translate></span>
                            <blogvh:link.post post="{comment.post}" section="comment-{comment.uid}" class="font-medium text-link !no-underline hover:text-link">
                                {comment.post.title}
                            </blogvh:link.post>
                        </div>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <d:molecule.alert class="bg-muted/40">
                <d:atom.icon name="message-circle" size="sm"/>
                <d:molecule.alertDescription><f:translate extensionName="Blog" key="comments.empty">No comments yet.</f:translate></d:molecule.alertDescription>
            </d:molecule.alert>
        </f:else>
    </f:if>
</f:section>

</html>
