<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Widget" />

<f:section name="Title"><f:translate extensionName="Blog" key="headline.recentposts">Recent posts</f:translate></f:section>

<f:section name="Content">
    <f:if condition="{posts}">
        <f:then>
            <ul role="list" class="divide-y divide-border/70">
                <f:for each="{posts}" as="post">
                    <li data-blog-post="{post.uid}">
                        <blogvh:link.post post="{post}" title="{post.title}" class="group/post -mx-2 flex min-h-11 items-center gap-2.5 rounded-md px-2 py-3 text-sm font-medium leading-snug text-foreground !no-underline transition-[color,background-color] duration-200 hover:bg-muted/80 hover:text-link focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring/40">
                            <span class="inline-flex size-5 shrink-0 items-center justify-center rounded-sm text-muted-foreground/80 transition-[color,background-color,transform] duration-200 group-hover/post:translate-x-0.5 group-hover/post:bg-primary/10 group-hover/post:text-primary" data-icon="inline-start" aria-hidden="true"><d:atom.icon name="arrow-right" size="xs"/></span>
                            <span class="min-w-0 truncate transition-colors duration-200 group-hover/post:text-link">{post.title}</span>
                        </blogvh:link.post>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <d:molecule.alert class="bg-muted/40">
                <d:atom.icon name="book-open" size="sm"/>
                <d:molecule.alertDescription><f:translate extensionName="Blog" key="list.no_posts.message">There are no posts yet.</f:translate></d:molecule.alertDescription>
            </d:molecule.alert>
        </f:else>
    </f:if>
</f:section>

</html>
