<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Widget" />

<f:section name="Title"><f:translate extensionName="Blog" key="headline.recentposts">Recent posts</f:translate></f:section>

<f:section name="Content">
    <ul role="list" class="divide-y divide-border text-sm">
        <f:for each="{posts}" as="post">
            <li class="py-2" data-blog-post="{post.uid}">
                <blogvh:link.post post="{post}" title="{post.title}" class="block text-foreground underline-offset-4 hover:text-primary hover:underline">
                    {post.title}
                </blogvh:link.post>
            </li>
        </f:for>
    </ul>
</f:section>

</html>
