<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Widget" />

<f:section name="Title"><f:translate extensionName="Blog" key="headline.recentposts">Recent posts</f:translate></f:section>

<f:section name="Content">
    <f:if condition="{posts}">
        <f:then>
            <ul role="list" class="divide-y divide-border/70">
                <f:for each="{posts}" as="post">
                    <li data-blog-post="{post.uid}">
                        <blogvh:link.post post="{post}" title="{post.title}" class="group/post -mx-2 flex min-h-11 items-center justify-between gap-3 rounded-md px-2 py-3 text-sm font-medium leading-snug text-foreground !no-underline transition-colors hover:bg-muted hover:text-primary focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring/40">
                            <span class="min-w-0 truncate">{post.title}</span>
                            <span class="shrink-0 text-muted-foreground transition-colors group-hover/post:text-primary" aria-hidden="true"><d:atom.icon name="arrow-right" size="xs"/></span>
                        </blogvh:link.post>
                    </li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <d:molecule.alert class="bg-muted/40">
                <d:atom.icon name="book-open" size="sm"/>
                <d:molecule.alertDescription><f:translate extensionName="Blog" key="list.no_posts.message">There are no posts yet.</f:translate></d:molecule.alertDescription>
            </d:molecule.alert>
        </f:else>
    </f:if>
</f:section>

</html>
