<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-chart-donut" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="chart-donut-section">
    <d:layout.container>
        <figure class="chart-donut"
             data-ce="chart-donut"
             data-chart-data="{data.chart_data -> f:format.htmlspecialchars()}"
             data-show-legend="{f:if(condition: data.show_legend, then: 'true', else: 'false')}"
             data-center-label="{data.center_label}"
             data-center-value="{data.center_value}">
            <div class="chart-donut__card">
                <f:if condition="{data.header} || {data.description}">
                    <header class="chart-donut__header">
                        <f:if condition="{data.header}">
                            <h3 class="chart-donut__title">{data -> f:render.text(field: 'header')}</h3>
                        </f:if>
                        <f:if condition="{data.description}">
                            <p class="chart-donut__description">{data -> f:render.text(field: 'description')}</p>
                        </f:if>
                    </header>
                </f:if>
                <div class="chart-donut__content">
                    <div data-chart-donut-canvas class="chart-donut__canvas" role="img"
                         aria-label="{f:if(condition: data.header, then: '{data.header}', else: 'Donut chart')}{f:if(condition: data.description, then: '. {data.description}')}{f:if(condition: data.center_value, then: '. {data.center_value} {data.center_label}')}"></div>
                </div>
            </div>
        </figure>
    </d:layout.container>
</d:layout.section>

</html>
