<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-textmedia" href="{cb:assetPath()}/frontend.css"/>

<f:section name="media">
    <f:if condition="{data.media.0}">
        <div class="textmedia__media-wrapper">
            <f:comment>The media field takes videos too; f:image would throw on one.</f:comment>
            <f:if condition="{f:contains(value: 'video/', subject: data.media.0.mimeType)}">
                <f:then>
                    <video class="textmedia__media {f:if(condition: data.media_rounded, then: 'textmedia__media--rounded')}" controls playsinline preload="metadata"
                           aria-label="{f:if(condition: data.media.0.alternative, then: data.media.0.alternative, else: data.header)}">
                        <source src="{data.media.0.publicUrl}" type="{data.media.0.mimeType}"/>
                    </video>
                </f:then>
                <f:else>
                    <d:molecule.lightbox src="{f:uri.image(image: data.media.0, maxWidth: 1920)}">
                        <f:image image="{data.media.0}" alt="{f:if(condition: data.media.0.alternative, then: data.media.0.alternative, else: data.header)}" maxWidth="{maxWidth}"
                                 class="textmedia__media {f:if(condition: data.media_rounded, then: 'textmedia__media--rounded')}" loading="lazy" decoding="async"/>
                    </d:molecule.lightbox>
                </f:else>
            </f:if>
        </div>
    </f:if>
</f:section>

<f:section name="content">
    <div class="textmedia__content">
        <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
        <f:if condition="{data.subheadline}"><d:atom.typography variant="lead">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
        <f:if condition="{data.content}">
            <div class="textmedia__richtext d-richtext">{data -> f:render.text(field: 'content')}</div>
        </f:if>
        <f:if condition="{data.button_text} && {data.button_link.url}">
            <d:molecule.actionGroup class="textmedia__actions">
                <d:atom.button href="{f:uri.typolink(parameter: data.button_link.url)}" target="{data.button_link.target}">{data -> f:render.text(field: 'button_text')}</d:atom.button>{data -> f:render.link(field: 'button_link')}
            </d:molecule.actionGroup>
        </f:if>
    </div>
</f:section>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="textmedia textmedia--{data.shadcn_layout}">
    <d:layout.container>
        <f:switch expression="{data.shadcn_layout}">
            <f:case value="media-left">
                <div class="textmedia__grid">
                    <f:render section="media" arguments="{data: data, maxWidth: 640}"/>
                    <f:render section="content" arguments="{data: data}"/>
                </div>
            </f:case>
            <f:case value="media-above">
                <f:render section="media" arguments="{data: data, maxWidth: 1200}"/>
                <f:render section="content" arguments="{data: data}"/>
            </f:case>
            <f:case value="media-below">
                <f:render section="content" arguments="{data: data}"/>
                <f:render section="media" arguments="{data: data, maxWidth: 1200}"/>
            </f:case>
            <f:defaultCase>
                <div class="textmedia__grid">
                    <f:render section="content" arguments="{data: data}"/>
                    <f:render section="media" arguments="{data: data, maxWidth: 640}"/>
                </div>
            </f:defaultCase>
        </f:switch>
    </d:layout.container>
</d:layout.section>

</html>
