<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-textmedia" href="{cb:assetPath()}/frontend.css"/>

<f:section name="media">
    <f:if condition="{data.media.0}">
        <div class="textmedia__media-wrapper">
            <button type="button" class="d-lightbox" data-d-lightbox
                    data-d-lightbox-src="{f:uri.image(image: data.media.0, maxWidth: 1920)}"
                    data-d-lightbox-close="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:aria.dismiss', default: 'Dismiss this notice')}"
                    aria-label="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:lightbox.open', default: 'Show image in full size')}">
                <f:image image="{data.media.0}" alt="{data.media.0.alternative}" maxWidth="{maxWidth}"
                         class="textmedia__media {f:if(condition: data.media_rounded, then: 'textmedia__media--rounded')}" loading="lazy" decoding="async"/>
            </button>
        </div>
    </f:if>
</f:section>

<f:section name="content">
    <div class="textmedia__content">
        <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
        <f:if condition="{data.subheadline}"><d:atom.typography variant="muted">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
        <f:if condition="{data.content}">
            <div class="textmedia__richtext">{data -> f:render.text(field: 'content')}</div>
        </f:if>
        <f:if condition="{data.button_text} && {data.button_link.url}">
            <div class="textmedia__actions">
                <d:atom.button href="{f:uri.typolink(parameter: data.button_link.url)}" target="{data.button_link.target}">{data -> f:render.text(field: 'button_text')}</d:atom.button>{data -> f:render.link(field: 'button_link')}
            </div>
        </f:if>
    </div>
</f:section>

<d:layout.section class="textmedia textmedia--{data.shadcn_layout}">
    <d:layout.container>
        <f:switch expression="{data.shadcn_layout}">
            <f:case value="media-left">
                <div class="textmedia__grid">
                    <f:render section="media" arguments="{data: data, maxWidth: 640}"/>
                    <f:render section="content" arguments="{data: data}"/>
                </div>
            </f:case>
            <f:case value="media-above">
                <f:render section="media" arguments="{data: data, maxWidth: 1200}"/>
                <f:render section="content" arguments="{data: data}"/>
            </f:case>
            <f:case value="media-below">
                <f:render section="content" arguments="{data: data}"/>
                <f:render section="media" arguments="{data: data, maxWidth: 1200}"/>
            </f:case>
            <f:defaultCase>
                <div class="textmedia__grid">
                    <f:render section="content" arguments="{data: data}"/>
                    <f:render section="media" arguments="{data: data, maxWidth: 640}"/>
                </div>
            </f:defaultCase>
        </f:switch>
    </d:layout.container>
</d:layout.section>

</html>
