<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-cards" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-cards">
    <d:layout.container>
        <f:if condition="{data.eyebrow} || {data.header} || {data.subheadline}">
            <header class="feature-cards__intro">
                <f:if condition="{data.eyebrow}"><p class="feature-cards__eyebrow">{data -> f:render.text(field: 'eyebrow')}</p></f:if>
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.subheadline}"><d:atom.typography variant="lead" class="feature-cards__subheadline">{data -> f:render.text(field: 'subheadline')}</d:atom.typography></f:if>
            </header>
        </f:if>
        <div class="feature-cards__grid">
            <f:for each="{data.items}" as="item">
                <d:molecule.card class="feature-cards__item">
                    <d:atom.typography tag="h3" variant="large" class="feature-cards__title">{item -> f:render.text(field: 'title')}</d:atom.typography>
                    <f:if condition="{item.description}">
                        <p class="feature-cards__description">{item -> f:render.text(field: 'description')}</p>
                    </f:if>
                </d:molecule.card>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
