<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-cards" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="feature-cards">
    <d:layout.container>
        <f:if condition="{data.eyebrow} || {data.header} || {data.subheadline}">
            <d:molecule.sectionIntro prefix="feature-cards" align="center" leadVariant="lead" class="feature-cards__intro" leadClass="feature-cards__subheadline">
                <f:fragment name="eyebrow"><f:if condition="{data.eyebrow}">{data -> f:render.text(field: 'eyebrow')}</f:if></f:fragment>
                <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
                <f:fragment name="lead"><f:if condition="{data.subheadline}">{data -> f:render.text(field: 'subheadline')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>
        <f:comment>Five or more cards become a swipeable row on phones (frontend.css), so the grid is then a focusable, labelled scroll region.</f:comment>
        <f:variable name="cardCount">{data.items -> f:count()}</f:variable>
        <f:variable name="gridLabel" value="{data.header -> f:or(alternative: '{f:translate(key: \'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:features\', default: \'Features\')}')}" />
        <div class="feature-cards__grid" {f:if(condition: '{cardCount} > 4', then: 'tabindex="0" role="region" aria-label="{gridLabel}"')}>
            <f:for each="{data.items}" as="item">
                <d:molecule.card class="feature-cards__item">
                    <div class="feature-cards__body flex min-w-0 flex-col gap-1.5">
                        <d:atom.typography tag="h3" variant="large" class="feature-cards__title">{item -> f:render.text(field: 'title')}</d:atom.typography>
                        <f:if condition="{item.description}">
                            <div class="feature-cards__description d-richtext">{item -> f:render.text(field: 'description')}</div>
                        </f:if>
                    </div>
                </d:molecule.card>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
