<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-brand-story" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="brand-story">
    <d:layout.container>
        <div class="brand-story__layout">
            <div class="brand-story__text">
                <f:if condition="{data.eyebrow}"><span class="brand-story__eyebrow">{data -> f:render.text(field: 'eyebrow')}</span></f:if>
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.lead}"><p class="brand-story__lead">{data -> f:render.text(field: 'lead')}</p></f:if>
                <f:if condition="{data.body}"><div class="brand-story__body">{data -> f:render.text(field: 'body')}</div></f:if>
            </div>
            <f:if condition="{data.image}">
                <div class="brand-story__image-wrapper">
                    <f:for each="{data.image}" as="fileReference">
                        <img src="{f:uri.image(image: fileReference, maxWidth: 640)}" alt="" class="brand-story__image"/>
                    </f:for>
                </div>
            </f:if>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
