<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-pricing-simple" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="pricing-simple">
    <d:layout.container size="sm">
        <d:molecule.card class="pricing-simple__card">
            <d:molecule.cardHeader class="pricing-simple__header">
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="h2" class="pricing-simple__headline">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <p class="pricing-simple__price-row">
                    <span class="pricing-simple__price">{data -> f:render.text(field: 'price')}</span>
                    <f:if condition="{data.billing_period}">
                        <d:atom.typography tag="span" variant="muted" class="pricing-simple__period">{data -> f:render.text(field: 'billing_period')}</d:atom.typography>
                    </f:if>
                </p>
                <f:if condition="{data.description}">
                    <d:atom.typography tag="div" variant="muted" class="pricing-simple__description d-richtext">{data -> f:render.text(field: 'description')}</d:atom.typography>
                </f:if>
            </d:molecule.cardHeader>

            <f:if condition="{data.features}">
                <d:molecule.cardContent class="pricing-simple__content">
                    <ul class="pricing-simple__features" role="list">
                        <f:for each="{data.features}" as="feature">
                            <f:if condition="{feature.text}">
                                <d:molecule.checkedListItem class="pricing-simple__feature" iconClass="pricing-simple__check">
                                    {feature -> f:render.text(field: 'text')}
                                </d:molecule.checkedListItem>
                            </f:if>
                        </f:for>
                    </ul>
                </d:molecule.cardContent>
            </f:if>

            <f:if condition="{data.button_text} && {data.button_link.url}">
                <d:molecule.cardFooter class="pricing-simple__footer">
                    <d:atom.button
                        href="{data.button_link.url}"
                        target="{data.button_link.target}"
                        class="pricing-simple__button"
                    >
                        {data -> f:render.text(field: 'button_text')}
                    </d:atom.button>{data -> f:render.link(field: 'button_link')}
                </d:molecule.cardFooter>
            </f:if>
        </d:molecule.card>
    </d:layout.container>
</d:layout.section>

</html>