<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header"></f:section>

<f:section name="Content">
    <f:asset.css identifier="desiderio-content-preview" href="EXT:desiderio/Resources/Public/Css/content-preview.css" />
    <div class="d-ce-preview" data-slot="card">
        <div class="d-ce-preview__meta">
            <span class="d-ce-preview__type" data-slot="badge">Newsletter Footer</span>
            <f:if condition="{settings._content_block_name}"><span class="d-ce-preview__ctype">{settings._content_block_name}</span></f:if>
            <span class="d-ce-preview__ctype"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:preview.uid"/>: {data.uid}</span>
            <span class="d-ce-preview__ctype"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:preview.page"/>: {data.pid}</span>
        </div>
        <f:if condition="{data.header}">
            <h3 class="d-ce-preview__title">{data.header}</h3>
        </f:if>
        <f:if condition="{data.description}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Description</span>
                <span class="d-ce-preview__value">{data.description}</span>
            </div>
        </f:if>
        <f:if condition="{data.copyright}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Copyright</span>
                <span class="d-ce-preview__value">{data.copyright}</span>
            </div>
        </f:if>
        <f:if condition="{data.button_text}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Button Text</span>
                <span class="d-ce-preview__value">{data.button_text}</span>
            </div>
        </f:if>
        <f:if condition="{data.placeholder}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Placeholder</span>
                <span class="d-ce-preview__value">{data.placeholder}</span>
            </div>
        </f:if>
        <f:if condition="{data.privacy_notice}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Privacy Notice</span>
                <span class="d-ce-preview__value">{data.privacy_notice}</span>
            </div>
        </f:if>
    </div>
</f:section>

</html>
