<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-footer-newsletter" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-newsletter" aria-label="{data.header -> f:or(alternative: '{f:translate(key: \'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:footer.aria\', default: \'Footer\')}')}">
    <d:layout.container>
        <div class="footer-newsletter__inner">
            <div class="footer-newsletter__content">
                <f:if condition="{data.header}">
                    <h2 class="footer-newsletter__title">{data -> f:render.text(field: 'header')}</h2>
                </f:if>
                <f:if condition="{data.description}">
                    <div class="footer-newsletter__description d-richtext">{data -> f:render.text(field: 'description')}</div>
                </f:if>
            </div>
            <div class="footer-newsletter__form-wrapper">

                <d:molecule.formRenderer persistenceIdentifier="EXT:desiderio/Resources/Private/Forms/DesiderioNewsletter.form.yaml" class="footer-newsletter__form"/>
                <f:if condition="{data.privacy_notice}">
                    <p class="footer-newsletter__privacy">{data -> f:render.text(field: 'privacy_notice')}</p>
                </f:if>
            </div>
        </div>
        <f:if condition="{data.copyright}">
            <div class="footer-newsletter__bottom">
                <p class="footer-newsletter__copyright">{data -> f:render.text(field: 'copyright')}</p>
            </div>
        </f:if>
    </d:layout.container>
</footer>

</html>
