<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:spaceless>
    <aside class="min-w-0">
        <d:molecule.card size="sm" class="border-border bg-card">
            <d:molecule.cardHeader class="border-b border-border/70 pb-3">
                <d:atom.typography tag="h3" variant="small" class="tracking-normal"><f:render section="Title" /></d:atom.typography>
            </d:molecule.cardHeader>
            <d:molecule.cardContent class="pt-0">
                <f:render section="Content" />
            </d:molecule.cardContent>
        </d:molecule.card>
    </aside>
</f:spaceless>

</html>
