<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-feature-comparison" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="feature-comparison">
    <d:layout.container size="md">
        <f:if condition="{data.header}">
            <header class="feature-comparison__intro">
                <d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography>
            </header>
        </f:if>

        <d:molecule.card class="feature-comparison__table">
            <table class="feature-comparison__grid">
                <thead>
                    <tr class="feature-comparison__head">
                        <th scope="col" class="feature-comparison__feature-col">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:feature', default: 'Feature')}</th>
                        <th scope="col" class="feature-comparison__check-col"><f:if condition="{data.left_title}"><f:then>{data -> f:render.text(field: 'left_title')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:plan.free" default="Free"/></f:else></f:if></th>
                        <th scope="col" class="feature-comparison__check-col"><f:if condition="{data.right_title}"><f:then>{data -> f:render.text(field: 'right_title')}</f:then><f:else><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:plan.pro" default="Pro"/></f:else></f:if></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{data.items}" as="item">
                        <tr class="feature-comparison__row">
                            <th scope="row" class="feature-comparison__feature-col">{item -> f:render.text(field: 'feature')}</th>
                            <td class="feature-comparison__check-col">
                                <f:if condition="{item.left_supported}">
                                    <f:then><span class="feature-comparison__yes"><d:atom.icon name="check" size="sm"/><span class="feature-comparison__sr">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:included', default: 'Included')}</span></span></f:then>
                                    <f:else><span class="feature-comparison__no"><span aria-hidden="true">&#8212;</span><span class="feature-comparison__sr">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:not_included', default: 'Not included')}</span></span></f:else>
                                </f:if>
                            </td>
                            <td class="feature-comparison__check-col">
                                <f:if condition="{item.right_supported}">
                                    <f:then><span class="feature-comparison__yes"><d:atom.icon name="check" size="sm"/><span class="feature-comparison__sr">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:included', default: 'Included')}</span></span></f:then>
                                    <f:else><span class="feature-comparison__no"><span aria-hidden="true">&#8212;</span><span class="feature-comparison__sr">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:not_included', default: 'Not included')}</span></span></f:else>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </d:molecule.card>
    </d:layout.container>
</d:layout.section>

</html>
