<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:comment>
    EXT:news list pager. The numbers come from the core PaginationInterface
    EXT:news builds (GeorgRinger\NumberedPagination); the markup lives in
    Molecule/Pagination and is shared with the Blog pager.
</f:comment>
<f:argument name="pagination" type="object" optional="{true}" />
<f:argument name="paginator" type="object" optional="{true}" />
<f:argument name="actionName" type="string" optional="{true}" default="" />

<d:molecule.pagination
    class="news-pagination"
    pages="{pagination.allPageNumbers}"
    currentPage="{paginator.currentPageNumber}"
    firstPage="{pagination.firstPageNumber}"
    lastPage="{pagination.lastPageNumber}"
    previousPage="{pagination.previousPageNumber}"
    nextPage="{pagination.nextPageNumber}"
    hasLessPages="{pagination.hasLessPages}"
    hasMorePages="{pagination.hasMorePages}"
    actionName="{actionName}"
/>
</html>
