<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="General" />

<f:section name="content">
    <f:if condition="{tags}">
        <ul role="list" class="news-tags flex flex-wrap gap-2">
            <f:for each="{tags}" as="tag">
                <li>
                    {n:tag.count(tagUid: tag.uid) -> f:variable(name: 'tagUsageCount')}
                    <f:link.page title="{tag.title}" pageUid="{settings.listPid}" additionalParams="{tx_news_pi1: {overwriteDemand: {tags: tag}}}" class="inline-flex items-center gap-2 !no-underline">
                        <d:atom.badge variant="outline" class="h-7">
                            <span data-icon="inline-start" aria-hidden="true"><f:render partial="General/NewsIcons" section="Tag"/></span>
                            <span>{tag.title}</span>
                        </d:atom.badge>
                        <f:if condition="{tagUsageCount}">
                            <d:atom.badge variant="secondary">
                                <f:translate key="news.entries.count" extensionName="desiderio" arguments="{count: tagUsageCount}">
                                    {tagUsageCount} entries
                                </f:translate>
                            </d:atom.badge>
                        </f:if>
                    </f:link.page>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

</html>
