<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="comment" type="T3G\AgencyPack\Blog\Domain\Model\Comment" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>

<f:spaceless>
    <article id="comment-{comment.uid}" class="group/comment grid gap-3 sm:grid-cols-[auto_1fr]" itemprop="comment" itemscope="itemscope" itemtype="https://schema.org/Comment">
        <div class="flex items-center gap-3 sm:block">
            <blogvh:gravatar email="{comment.email}" class="size-11 rounded-full border border-border bg-muted object-cover" />
            <div class="sm:hidden">
                <p class="text-sm font-medium text-foreground" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person">
                    <f:render section="CommentUrl" arguments="{_all}" contentAs="content">{comment.name}</f:render>
                </p>
                <time datetime="{f:format.date(format: 'c', date: comment.crdate)}" itemprop="dateCreated" class="text-xs text-muted-foreground">
                    <f:format.date format="{settings.comments.date.format}">{comment.crdate}</f:format.date>
                </time>
            </div>
        </div>
        <d:molecule.card size="sm" class="border-border/80 bg-background/70 shadow-none">
            <d:molecule.cardContent class="pt-0">
                <header class="mb-3 hidden items-center justify-between gap-3 text-sm sm:flex">
                    <p class="font-medium text-foreground" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person">
                        <f:render section="CommentUrl" arguments="{_all}" contentAs="content">{comment.name}</f:render>
                    </p>
                    <time datetime="{f:format.date(format: 'c', date: comment.crdate)}" itemprop="dateCreated" class="shrink-0 text-xs text-muted-foreground">
                        <f:format.date format="{settings.comments.date.format}">{comment.crdate}</f:format.date>
                    </time>
                </header>
                <div class="prose prose-sm max-w-none text-muted-foreground prose-p:my-2 prose-a:text-primary" itemprop="text">
                    <blogvh:format.nl2p>{comment.comment}</blogvh:format.nl2p>
                </div>
            </d:molecule.cardContent>
        </d:molecule.card>
    </article>

    <f:section name="CommentUrl">
        <f:if condition="{comment.url} && {settings.comments.features.urls}">
            <f:then>
                <f:link.external uri="{comment.url}" target="_blank" rel="external nofollow noopener" class="rounded-sm underline-offset-4 hover:text-primary hover:underline focus-visible:outline-none focus-visible:ring-3 focus-visible:ring-ring/40"><span itemprop="name">{content}</span></f:link.external>
            </f:then>
            <f:else><span itemprop="name">{content}</span></f:else>
        </f:if>
    </f:section>
</f:spaceless>

</html>
