<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-testimonial-video" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="testimonial-video">
    <d:layout.container>
        <f:if condition="{data.header}">
            <h2 class="testimonial-video__heading">{data -> f:render.text(field: 'header')}</h2>
        </f:if>

        <figure class="testimonial-video__layout">
            <div class="testimonial-video__player">
                <div class="testimonial-video__embed">
                    <f:if condition="{data.poster_image}">
                        <f:for each="{data.poster_image}" as="poster">
                            <f:image image="{poster}" maxWidth="960" alt="" class="testimonial-video__poster"/>
                        </f:for>
                    </f:if>
                    <iframe src="{data.video_url}" allowfullscreen loading="lazy"
                            title="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:testimonial_video.player_title', arguments: {0: data.author_name})}">
                    </iframe>
                </div>
            </div>

            <div class="testimonial-video__content">
                <f:if condition="{data.quote}">
                    <blockquote class="testimonial-video__quote">
                        <p>{data -> f:render.text(field: 'quote')}</p>
                    </blockquote>
                </f:if>
                <figcaption class="testimonial-video__author">
                    <cite class="testimonial-video__name">{data -> f:render.text(field: 'author_name')}</cite>
                    <f:if condition="{data.author_title} || {data.author_company}">
                        <span class="testimonial-video__role">
                            <f:if condition="{data.author_title}">{data -> f:render.text(field: 'author_title')}</f:if><f:if condition="{data.author_title} && {data.author_company}">, </f:if><f:if condition="{data.author_company}">{data -> f:render.text(field: 'author_company')}</f:if>
                        </span>
                    </f:if>
                </figcaption>
            </div>
        </figure>
    </d:layout.container>
</d:layout.section>
</html>
