<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-testimonial-video" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="testimonial-video">
    <d:layout.container>
        <f:if condition="{data.header}">
            <h2 class="testimonial-video__heading">{data -> f:render.text(field: 'header')}</h2>
        </f:if>

        <div class="testimonial-video__layout">
            <div class="testimonial-video__player">
                <f:if condition="{data.poster_image}">
                    <div class="testimonial-video__poster-wrap">
                        <f:for each="{data.poster_image}" as="poster">
                            <img src="{f:uri.image(image: poster, maxWidth: 960)}" alt="{data.header}" class="testimonial-video__poster"/>
                        </f:for>
                    </div>
                </f:if>
                <div class="testimonial-video__embed">
                    <iframe src="{data.video_url}" allowfullscreen loading="lazy" title="Video testimonial from {data.author_name}"></iframe>
                </div>
            </div>

            <div class="testimonial-video__content">
                <f:if condition="{data.quote}">
                    <blockquote class="testimonial-video__quote">&ldquo;{data -> f:render.text(field: 'quote')}&rdquo;</blockquote>
                </f:if>
                <div class="testimonial-video__author">
                    <cite class="testimonial-video__name">{data -> f:render.text(field: 'author_name')}</cite>
                    <f:if condition="{data.author_title} || {data.author_company}">
                        <span class="testimonial-video__role">
                            {data -> f:render.text(field: 'author_title')}<f:if condition="{data.author_title} && {data.author_company}">, </f:if>{data -> f:render.text(field: 'author_company')}
                        </span>
                    </f:if>
                </div>
            </div>
        </div>
    </d:layout.container>
</d:layout.section>
</html>
