<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-cta-floating" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="headingId" value="d-cta-floating-heading-{data.uid}"/>
<f:variable name="regionLabel"><f:translate key="LLL:EXT:desiderio/ContentBlocks/ContentElements/cta-floating/language/labels.xlf:region.label" default="Call to action"/></f:variable>

<div class="cta-floating cta-floating--{data.position -> f:or(alternative: 'bottom')}"
     role="region"
     aria-labelledby="{f:if(condition: data.header, then: headingId)}"
     aria-label="{f:if(condition: data.header, then: '', else: regionLabel)}">
    <d:layout.container>
        <div class="cta-floating__bar">
            <div class="cta-floating__text">
                <f:if condition="{data.eyebrow}">
                    <d:atom.typography tag="span" variant="small" class="cta-floating__eyebrow">{data -> f:render.text(field: 'eyebrow')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="large" class="cta-floating__headline" id="{headingId}">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <f:if condition="{data.description_text}">
                    <d:atom.typography variant="muted" class="cta-floating__description">{data -> f:render.text(field: 'description_text')}</d:atom.typography>
                </f:if>
            </div>
            <f:if condition="{data.cta_text} && {data.cta_link.url}">
                <d:atom.button href="{f:uri.typolink(parameter: data.cta_link.url)}" target="{data.cta_link.target}" size="lg" class="cta-floating__action shrink-0">
                    {data -> f:render.text(field: 'cta_text')}<f:if condition="{data.cta_link.target} == '_blank'"><span class="sr-only"> <f:translate key="LLL:EXT:desiderio/ContentBlocks/ContentElements/cta-floating/language/labels.xlf:link.newTab" default="(opens in a new tab)"/></span></f:if>
                </d:atom.button>{data -> f:render.link(field: 'cta_link')}
            </f:if>
        </div>
    </d:layout.container>
</div>

</html>
