<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:variable name="searchEyebrow"><f:translate key="page.search.eyebrow" extensionName="desiderio">Search</f:translate></f:variable>
<f:if condition="{page.pageRecord.abstract}">
    <f:then>
        <f:variable name="searchIntro" value="{page.pageRecord.abstract}"/>
    </f:then>
    <f:else>
        <f:variable name="searchIntro"><f:translate key="page.search.intro" extensionName="desiderio">Find solutions, case studies, documentation and the right contact across our site.</f:translate></f:variable>
    </f:else>
</f:if>

<f:section name="Main">
    <section class="desiderio-system-page desiderio-saas-system desiderio-saas-system--search">
        <d:layout.container size="xl">
            <f:render partial="Presets/SystemHeader" arguments="{class: 'desiderio-saas-system__header', eyebrow: searchEyebrow, eyebrowClass: 'desiderio-saas-template__eyebrow', title: page.pageRecord.title, summary: searchIntro, summaryTag: 'span'}"/>
            <div class="desiderio-system-page__content desiderio-saas-system__content">
                <f:render partial="Presets/ContentArea" arguments="{content: content.main}"/>
            </div>
        </d:layout.container>
    </section>
</f:section>

</html>
