<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="post" type="T3G\AgencyPack\Blog\Domain\Model\Post" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>

<div class="rounded-lg border border-dashed border-border bg-muted/30 p-4">
    <div id="disqus_thread" class="min-h-24"></div>
    <f:asset.script identifier="d-blog-disqus-{post.uid}" priority="0">
var disqus_config = function() {
    this.page.url = '{post.uri -> f:format.htmlspecialchars()}';
    this.page.identifier = '{settings.comments.disqus.shortname -> f:format.htmlspecialchars()}:post:{post.uid}';
};
(function() {
    var d = document;
    var s = d.createElement('script');
    s.src = '//{settings.comments.disqus.shortname -> f:format.htmlspecialchars()}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', String(+new Date()));
    (d.head || d.body).appendChild(s);
})();
    </f:asset.script>
    <noscript>
        <d:molecule.alert>
            <d:atom.icon name="alert-circle" size="sm"/>
            <d:molecule.alertDescription>
                Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" class="font-medium text-primary underline underline-offset-4">comments powered by Disqus.</a>
            </d:molecule.alertDescription>
        </d:molecule.alert>
    </noscript>
</div>

</html>
