<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<header class="mb-4 flex flex-col gap-1">
    <d:atom.typography tag="h3" variant="h4"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/blog.xlf:comments.form.heading" /></d:atom.typography>
    <p class="text-sm text-muted-foreground"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/blog.xlf:comments.form.intro" /></p>
</header>
<f:render partial="General/FlashMessages" arguments="{_all}"/>
<formvh:render factoryClass="T3G\AgencyPack\Blog\Domain\Factory\CommentFormFactory" />

</html>
