<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="flex flex-col gap-5">
    <f:render partial="General/FlashMessages" arguments="{_all}"/>
    <div class="rounded-lg border border-border bg-background/70 p-4">
        <formvh:render factoryClass="T3G\AgencyPack\Blog\Domain\Factory\CommentFormFactory" />
    </div>
</div>

</html>
