<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:section name="Author"><d:atom.icon name="user" size="xs"/></f:section>
<f:section name="Category"><d:atom.icon name="folder" size="xs"/></f:section>
<f:section name="Tag"><d:atom.icon name="tag" size="xs"/></f:section>
<f:section name="Published"><d:atom.icon name="calendar" size="xs"/></f:section>
<f:section name="Comment"><d:atom.icon name="message-circle" size="xs"/></f:section>

</html>
