<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="image" type="object" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>

<f:if condition="{image}">
    <f:variable name="height" value="{f:if(condition: settings.height, then: settings.height, else: '400c')}" />
    <f:variable name="width" value="{f:if(condition: settings.width, then: settings.width, else: '1140')}" />
    <figure class="overflow-hidden">
        <f:image
            loading="lazy"
            image="{image}"
            alt="{image.alternative}"
            title="{image.title}"
            height="{height}"
            width="{width}"
            class="aspect-[16/10] w-full object-cover transition-transform duration-300 group-hover/card:scale-[1.02]"
        />
    </figure>
</f:if>

</html>
