<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:section name="Website"><d:atom.icon name="globe" size="xs"/></f:section>
<f:section name="Twitter"><d:atom.icon name="brand-x" size="xs"/></f:section>
<f:section name="Instagram"><d:atom.icon name="brand-instagram" size="xs"/></f:section>
<f:section name="LinkedIn"><d:atom.icon name="brand-linkedin" size="xs"/></f:section>
<f:section name="Xing"><d:atom.icon name="brand-xing" size="xs"/></f:section>
<f:section name="Rss"><d:atom.icon name="rss" size="xs"/></f:section>

</html>
