<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-map-embed" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="map-embed">
    <d:layout.container>
        <f:if condition="{data.header} || {data.address}">
            <header class="map-embed__intro">
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h2">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.address}"><p class="map-embed__address">{data -> f:render.text(field: 'address')}</p></f:if>
            </header>
        </f:if>
        <f:if condition="{data.embed_url}">
            <f:variable name="mapEmbedHeight"><f:format.number decimals="0" thousandsSeparator="">{data.height -> f:or(alternative: 400)}</f:format.number></f:variable>
            <div class="map-embed__frame" style="height: {mapEmbedHeight}px">
                <iframe src="{data -> f:render.text(field: 'embed_url')}" class="map-embed__iframe" allowfullscreen="allowfullscreen" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </f:if>
    </d:layout.container>
</d:layout.section>

</html>
