<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-faq" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="faq">
    <d:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <d:molecule.sectionIntro prefix="faq" class="faq__intro">
                <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
                <f:fragment name="lead"><f:if condition="{data.subheadline}">{data -> f:render.text(field: 'subheadline')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>

        <div class="faq__list" itemscope itemtype="https://schema.org/FAQPage">
            <f:for each="{data.items}" as="item">
                <details class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <summary class="faq__question">
                        <d:atom.typography tag="h3" variant="h3" class="faq__question-text" attributes="{itemprop: 'name'}">{item -> f:render.text(field: 'question')}</d:atom.typography>
                        <span class="faq__chevron" aria-hidden="true">
                            <d:atom.icon name="chevron-down" size="sm" />
                        </span>
                    </summary>
                    <div class="faq__answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">{item -> f:render.text(field: 'answer')}</div>
                    </div>
                </details>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
