<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-footer-social" href="{cb:assetPath()}/frontend.css"/>

<footer class="footer-social" aria-label="{data.header -> f:or(alternative: '{f:translate(key: \'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:footer.aria\', default: \'Footer\')}')}">
    <d:layout.container>
        <div class="footer-social__inner">
            <f:if condition="{data.brand}">
                <h2 class="footer-social__brand">{data -> f:render.text(field: 'brand')}</h2>
            </f:if>
            <f:if condition="{data.items}">
                <nav class="footer-social__icons" aria-label="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:social.aria', default: 'Social media')}">
                    <f:for each="{data.items}" as="item">
                        <d:atom.link href="{f:uri.typolink(parameter: item.link.url)}" variant="muted" class="footer-social__icon" target="_blank">
                            <f:switch expression="{item.platform_name}">
                                <f:case value="facebook"><d:atom.icon name="brand-facebook" size="default" /></f:case>
                                <f:case value="twitter"><d:atom.icon name="brand-x" size="default" /></f:case>
                                <f:case value="instagram"><d:atom.icon name="brand-instagram" size="default" /></f:case>
                                <f:case value="linkedin"><d:atom.icon name="brand-linkedin" size="default" /></f:case>
                                <f:case value="youtube"><d:atom.icon name="brand-youtube" size="default" /></f:case>
                                <f:case value="github"><d:atom.icon name="brand-github" size="default" /></f:case>
                            </f:switch>
                            <span class="sr-only">
                                <f:switch expression="{item.platform_name}">
                                    <f:case value="facebook">Facebook</f:case>
                                    <f:case value="twitter">X (formerly Twitter)</f:case>
                                    <f:case value="instagram">Instagram</f:case>
                                    <f:case value="linkedin">LinkedIn</f:case>
                                    <f:case value="youtube">YouTube</f:case>
                                    <f:case value="github">GitHub</f:case>
                                    <f:defaultCase><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:social.profile" default="Social profile"/></f:defaultCase>
                                </f:switch>
                                <f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:social.newTab" default="(opens in a new tab)"/>
                            </span>
                        </d:atom.link>
                    </f:for>
                </nav>
            </f:if>
            <f:if condition="{data.copyright}">
                <p class="footer-social__copyright">{data -> f:render.text(field: 'copyright')}</p>
            </f:if>
        </div>
    </d:layout.container>
</footer>

</html>
