<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-directions" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="directions">
    <d:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <d:molecule.sectionIntro prefix="directions" class="directions__intro">
                <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
                <f:fragment name="lead"><f:if condition="{data.subheadline}">{data -> f:render.text(field: 'subheadline')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>

        <ul class="directions__list">
            <f:for each="{data.routes}" as="route">
                <li class="directions__item">
                    <d:molecule.card class="directions__route">
                        <d:atom.typography tag="h3" variant="large" class="directions__mode">
                            <span class="directions__icon" aria-hidden="true"><d:atom.icon name="map-pin" size="lg"/></span>
                            <span>{route -> f:render.text(field: 'mode')}</span>
                        </d:atom.typography>
                        <div class="directions__description d-richtext">{route -> f:render.text(field: 'description')}</div>
                    </d:molecule.card>
                </li>
            </f:for>
        </ul>
    </d:layout.container>
</d:layout.section>

</html>
