<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-status-indicator" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="status-indicator-section">
    <d:layout.container>
        <section class="status-indicator" aria-label="{f:if(condition: data.header, then: '{data.header}', else: '{f:translate(key: \'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.aria\', default: \'Service status\')}')}">
            <div class="status-indicator__header">
                <f:if condition="{data.header}">
                    <d:atom.typography tag="h2" variant="h4" class="status-indicator__title">{data -> f:render.text(field: 'header')}</d:atom.typography>
                </f:if>
                <p class="status-indicator__overall status-indicator__dot--{data.overall_status -> f:or(alternative: 'operational')}">
                    <span class="status-indicator__dot" aria-hidden="true"></span>
                    <span class="status-indicator__overall-text">
                        <f:switch expression="{data.overall_status}">
                            <f:case value="degraded">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.overall.degraded', default: 'Degraded performance')}</f:case>
                            <f:case value="outage">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.overall.outage', default: 'Major outage')}</f:case>
                            <f:case value="maintenance">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.overall.maintenance', default: 'Under maintenance')}</f:case>
                            <f:defaultCase>{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.overall.operational', default: 'All systems operational')}</f:defaultCase>
                        </f:switch>
                    </span>
                </p>
            </div>
            <ul class="status-indicator__list">
                <f:for each="{data.items}" as="item">
                    <f:variable name="itemStatus" value="{item.status -> f:or(alternative: 'operational')}" />
                    <li class="status-indicator__item status-indicator__dot--{itemStatus}">
                        <div class="status-indicator__service">
                            <span class="status-indicator__service-name">{item -> f:render.text(field: 'name')}</span>
                            <f:if condition="{item.detail}">
                                <span class="status-indicator__detail">{item -> f:render.text(field: 'detail')}</span>
                            </f:if>
                        </div>
                        <span class="status-indicator__status">
                            <span class="status-indicator__dot" aria-hidden="true"></span>
                            <span class="status-indicator__status-text">
                                <f:switch expression="{itemStatus}">
                                    <f:case value="degraded">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.degraded', default: 'Degraded')}</f:case>
                                    <f:case value="outage">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.outage', default: 'Outage')}</f:case>
                                    <f:case value="maintenance">{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.maintenance', default: 'Maintenance')}</f:case>
                                    <f:defaultCase>{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:status.operational', default: 'Operational')}</f:defaultCase>
                                </f:switch>
                            </span>
                        </span>
                    </li>
                </f:for>
            </ul>
        </section>
    </d:layout.container>
</d:layout.section>

</html>
