<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-timeline" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="timeline">
    <d:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <d:molecule.sectionIntro prefix="timeline" class="timeline__intro">
                <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
                <f:fragment name="lead"><f:if condition="{data.subheadline}">{data -> f:render.text(field: 'subheadline')}</f:if></f:fragment>
            </d:molecule.sectionIntro>
        </f:if>

        <div class="timeline__list">
            <f:for each="{data.items}" as="item" iteration="iteration">
                <article class="timeline__item">
                    <div class="timeline__marker" aria-hidden="true">
                        <span class="timeline__dot">{iteration.cycle}</span>
                    </div>
                    <d:molecule.card class="timeline__content">
                        <div class="timeline__step">{item -> f:render.text(field: 'step')}</div>
                        <d:atom.typography tag="h3" variant="h3" class="timeline__title">{item -> f:render.text(field: 'title')}</d:atom.typography>
                        <f:if condition="{item.content}">
                            <div class="timeline__text">
                                {item -> f:render.text(field: 'content')}
                            </div>
                        </f:if>
                        <f:if condition="{item.link.url} && {item.link_text}">
                            <d:molecule.actionGroup class="timeline__actions">
                                <d:atom.link href="{f:uri.typolink(parameter: item.link.url)}" target="{item.link.target}" variant="muted" class="timeline__link">{item -> f:render.text(field: 'link_text')}</d:atom.link>
                            </d:molecule.actionGroup>
                        </f:if>
                    </d:molecule.card>
                </article>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>

</html>
