<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:di="http://typo3.org/ns/Webconsulting/Desiderio/ViewHelpers"
    xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="search" type="object" optional="true"/>
<f:argument name="additionalFilters" type="array" optional="true"/>
<f:argument name="existingParameters" type="array" optional="true"/>
<f:argument name="pluginNamespace" type="string" optional="true" default=""/>
<f:argument name="q" type="string" optional="true" default=""/>
<f:argument name="resultSet" type="object" optional="true"/>

<f:section name="Form">
    <div class="tx-solr-search-form d-solr-command" data-shadcn-pattern="command-palette" data-slot="card">
        <s:searchForm id="tx-solr-search-form-pi-results" additionalFilters="{additionalFilters}" suggestHeader="{f:translate(key: 'solr.suggest.header', domain: 'desiderio.labels', default: 'Top Results')}">
            <f:for each="{existingParameters}" key="name" as="value">
                <f:form.hidden name="{pluginNamespace}{name}" value="{value}" />
            </f:for>

            <div class="d-solr-command__bar">
                <span class="d-solr-command__icon" aria-hidden="true">
                    <di:icon name="search" size="sm" />
                </span>
                <input type="search" class="tx-solr-q js-solr-q d-solr-command__input" data-slot="input" data-d-solr-suggest data-d-solr-type-label-pages="{f:translate(key: 'solr.contentType.pages', domain: 'desiderio.labels', default: 'Pages')}" data-d-solr-type-label-news="{f:translate(key: 'solr.contentType.news', domain: 'desiderio.labels', default: 'News')}" data-d-solr-type-label-addresses="{f:translate(key: 'solr.contentType.addresses', domain: 'desiderio.labels', default: 'Addresses')}" name="{pluginNamespace}[q]" value="{q}" maxlength="50" autocomplete="off" aria-label="{f:translate(key: 'solr.search.label', domain: 'desiderio.labels', default: 'Search')}" />
                <button class="tx-solr-submit d-solr-command__submit" data-slot="button" type="submit">
                    <f:translate key="solr.search.submit" domain="desiderio.labels">Search</f:translate>
                </button>
            </div>
        </s:searchForm>
    </div>
</f:section>

</html>
