<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
    xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="lastSearches" type="iterable" optional="true"/>

<f:section name="LastSearches">
    <s:lastSearches>
        <f:if condition="{lastSearches}">
            <section id="tx-solr-lastsearches" class="d-solr-suggest d-solr-suggest--facet" aria-labelledby="tx-solr-lastsearches-label">
                <h2 class="d-solr-suggest__group" id="tx-solr-lastsearches-label">
                    <f:translate key="solr.lastSearches" domain="desiderio.labels">Last searches</f:translate>
                </h2>

                <ul role="list" class="d-solr-facet__list">
                    <f:for each="{lastSearches}" as="searchedFor">
                        <li>
                            <a href="{s:uri.search.startNewSearch(queryString: searchedFor)}" class="solr-ajaxified d-solr-suggest__option">
                                <span class="d-solr-suggest__term"><f:format.htmlentities>{searchedFor}</f:format.htmlentities></span>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </section>
        </f:if>
    </s:lastSearches>
</f:section>

</html>
