<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:argument name="field" type="object" />

<f:if condition="{field.css} != 'nolabel'">
    <label for="powermail_field_{field.marker}" class="text-sm font-medium text-foreground" title="{field.description}">
        <vh:string.escapeLabels>{field.title}</vh:string.escapeLabels>
        <f:if condition="{field.mandatory}">
            <span class="ms-1 text-destructive" aria-hidden="true">*</span>
        </f:if>
    </label>
</f:if>
</html>
