<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-social-proof-counter" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="social-proof-counter">
    <d:layout.container>
        <f:if condition="{data.header} || {data.subheadline}">
            <header class="social-proof-counter__intro">
                <f:if condition="{data.header}">
                    <h2 class="social-proof-counter__headline">{data -> f:render.text(field: 'header')}</h2>
                </f:if>
                <f:if condition="{data.subheadline}">
                    <p class="social-proof-counter__description">{data -> f:render.text(field: 'subheadline')}</p>
                </f:if>
            </header>
        </f:if>

        <div class="social-proof-counter__row social-proof-counter__row--{data.shadcn_layout -> f:or(alternative: 'inline')}">
            <f:for each="{data.counters}" as="counter">
                <div class="social-proof-counter__item">
                    <f:if condition="{counter.icon_name} != 'none'">
                        <div class="social-proof-counter__icon">
                            <d:atom.icon name="{counter.icon_name}" size="xl"/>
                        </div>
                    </f:if>
                    <span class="social-proof-counter__value">{counter -> f:render.text(field: 'value')}</span>
                    <span class="social-proof-counter__label">{counter -> f:render.text(field: 'label')}</span>
                </div>
            </f:for>
        </div>
    </d:layout.container>
</d:layout.section>
</html>
