<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header"></f:section>

<f:section name="Content">
    <f:asset.css identifier="desiderio-content-preview" href="EXT:desiderio/Resources/Public/Css/content-preview.css" />
    <div class="d-ce-preview" data-slot="card">
        <div class="d-ce-preview__meta">
            <span class="d-ce-preview__type" data-slot="badge">Product Reviews Pricing</span>
            <f:if condition="{settings._content_block_name}"><span class="d-ce-preview__ctype">{settings._content_block_name}</span></f:if>
            <span class="d-ce-preview__ctype"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:preview.uid"/>: {data.uid}</span>
            <span class="d-ce-preview__ctype"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:preview.page"/>: {data.pid}</span>
        </div>
        <f:if condition="{data.header}">
            <h3 class="d-ce-preview__title">{data.header}</h3>
        </f:if>
        <f:if condition="{data.average_score}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Average Score</span>
                <span class="d-ce-preview__value">{data.average_score}</span>
            </div>
        </f:if>
        <f:if condition="{data.total_reviews}">
            <div class="d-ce-preview__field">
                <span class="d-ce-preview__label">Total Reviews</span>
                <span class="d-ce-preview__value">{data.total_reviews}</span>
            </div>
        </f:if>
        <f:if condition="{data.reviews}">
            <div class="d-ce-preview__collection">
                <span class="d-ce-preview__label">Reviews</span>
                <ul class="d-ce-preview__list">
                    <f:for each="{data.reviews}" as="item">
                        <li>
                            <f:if condition="{item.rating}"><span>{item.rating}</span></f:if>
                            <f:if condition="{item.date}"><span>{item.date}</span></f:if>
                            <f:if condition="{item.author}"><span>{item.author}</span></f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </div>
</f:section>

</html>
