<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-alert" href="{cb:assetPath()}/frontend.css"/>

<f:variable name="alertRole" value="{f:if(condition: '{data.variant} == \'destructive\'', then: 'alert', else: 'note')}"/>

<f:variable name="alertInner">
    <f:if condition="{data.icon}">
        <span class="alert__icon" aria-hidden="true">
            <d:atom.icon name="{data.icon}" size="lg"/>
        </span>
    </f:if>
    <div class="alert__content">
        <f:if condition="{data.header}">
            <d:atom.typography tag="h2" variant="h2" class="alert__title">{data -> f:render.text(field: 'header')}</d:atom.typography>
        </f:if>
        <div class="alert__description">
            {data -> f:render.text(field: 'description')}
        </div>
    </div>
    <f:if condition="{data.show_close_button}">
        <button type="button" class="alert__close" data-d-dismiss aria-label="{f:translate(key: 'LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:aria.dismiss', default: 'Dismiss this notice')}">
            <d:atom.icon name="x" size="sm" />
        </button>
    </f:if>
</f:variable>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="alert-section">
    <d:layout.container size="lg">
        <f:if condition="{data.show_close_button}">
            <f:then>
                <div class="alert alert--{data.variant -> f:or(alternative: 'default')}" role="{alertRole}" data-d-dismissible>
                    {alertInner -> f:format.raw()}
                </div>
            </f:then>
            <f:else>
                <div class="alert alert--{data.variant -> f:or(alternative: 'default')}" role="{alertRole}">
                    {alertInner -> f:format.raw()}
                </div>
            </f:else>
        </f:if>
    </d:layout.container>
</d:layout.section>

</html>
