<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-job-card" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="job-card">
    <d:layout.container size="md">
        <d:molecule.card class="job-card__card">
            <d:molecule.cardHeader>
                <f:if condition="{data.type}">
                    <d:atom.badge variant="secondary" class="job-card__type">{data -> f:render.text(field: 'type')}</d:atom.badge>
                </f:if>
                <f:if condition="{data.header}"><d:atom.typography tag="h2" variant="h3" class="job-card__title">{data -> f:render.text(field: 'header')}</d:atom.typography></f:if>
                <f:if condition="{data.department} || {data.location}">
                    <p class="job-card__meta">
                        <f:if condition="{data.department}"><span class="job-card__dept">{data -> f:render.text(field: 'department')}</span></f:if>
                        <f:if condition="{data.department} && {data.location}"><span class="job-card__sep" aria-hidden="true">&middot;</span></f:if>
                        <f:if condition="{data.location}"><span class="job-card__location">{data -> f:render.text(field: 'location')}</span></f:if>
                    </p>
                </f:if>
            </d:molecule.cardHeader>
            <f:if condition="{data.description}">
                <d:molecule.cardContent>
                    <div class="job-card__description d-richtext">{data -> f:render.text(field: 'description')}</div>
                </d:molecule.cardContent>
            </f:if>
            <f:if condition="{data.apply_link.url}">
                <d:molecule.cardFooter class="job-card__footer">
                    <d:atom.button href="{data.apply_link.url}" target="{data.apply_link.target}" size="lg" class="job-card__apply">
                        <f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:job.apply"/><span class="sr-only"> {data -> f:render.text(field: 'header')}</span>
                    </d:atom.button>{data -> f:render.link(field: 'apply_link')}
                </d:molecule.cardFooter>
            </f:if>
        </d:molecule.card>
    </d:layout.container>
</d:layout.section>

</html>
