<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:argument name="mediaElement" type="object" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>

<div class="mediaelement">
    <div class="mediaelement-video overflow-hidden rounded-xl">
        <f:media file="{mediaElement}" width="{settings.detail.media.video.width}" height="{settings.detail.media.video.height}"/>
    </div>

    <f:if condition="{mediaElement.description}">
        <figcaption class="news-img-caption px-3 py-2 text-sm text-muted-foreground">
            {mediaElement.description}
        </figcaption>
    </f:if>
</div>

</html>
