<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:argument name="newsItem" type="GeorgRinger\News\Domain\Model\News" optional="true"/>
<f:argument name="settings" type="array" optional="true"/>

<aside class="news-share min-w-0" aria-label="{f:translate(extensionName: 'desiderio', key: 'a11y.share.label', default: 'Share this article')}">
    <d:molecule.card size="sm" class="border-border bg-card">
        <d:molecule.cardContent>
            <div class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
                <div class="inline-flex items-center gap-2 text-sm font-medium text-foreground">
                    <d:atom.icon name="globe" size="sm"/>
                    <span><f:translate key="share-this" extensionName="news">Share this article</f:translate></span>
                </div>
                <div class="shariff" data-orientation="horizontal" data-services='["facebook","twitter","linkedin","mail"]' data-button-style="icon"></div>
            </div>
        </d:molecule.cardContent>
    </d:molecule.card>
</aside>

</html>
