<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<aside class="news-share flex flex-col gap-3 rounded-xl border border-border bg-card p-4 sm:flex-row sm:items-center sm:justify-between" aria-label="Share this article">
    <div class="text-sm font-medium text-foreground">
        <f:translate key="share-this" extensionName="news">Share this article</f:translate>
    </div>
    <div class="shariff" data-orientation="horizontal" data-services='["facebook","twitter","linkedin","mail"]' data-button-style="icon"></div>
</aside>

</html>
