<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-audio-player" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="audio-player">
    <d:layout.container>
        <d:molecule.card class="audio-player__card">
            <div class="audio-player__info">
                <f:if condition="{data.header}">
                    <h3 class="audio-player__title">{data -> f:render.text(field: 'header')}</h3>
                </f:if>
                <f:if condition="{data.description}">
                    <p class="audio-player__description">{data -> f:render.text(field: 'description')}</p>
                </f:if>
            </div>
            <f:if condition="{data.audio_file.0}">
                <audio class="audio-player__audio" controls preload="metadata" title="{data.header}">
                    <source src="{data.audio_file.0.publicUrl}" type="{data.audio_file.0.mimeType}"/>
                    <f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:audio_unsupported" default="Your browser does not support the audio element."/>
                </audio>
            </f:if>
            <f:if condition="{data.show_download} && {data.audio_file.0}">
                <a class="audio-player__download" href="{data.audio_file.0.publicUrl}" download>
                    <d:atom.icon name="download" size="sm" class="audio-player__download-icon"/>
                    <span><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:download_episode" default="Download episode"/></span>
                </a>
            </f:if>
        </d:molecule.card>
    </d:layout.container>
</d:layout.section>

</html>
