<f:argument name="value" type="integer" optional="{true}" default="0" />
<f:argument name="max" type="integer" optional="{true}" default="100" />
<f:argument name="class" type="string" optional="{true}" default="" />

<div role="progressbar" data-slot="progress" class="relative flex h-1 w-full items-center overflow-x-hidden rounded-full bg-muted {class}" aria-valuenow="{value}" aria-valuemin="0" aria-valuemax="{max}">
    <div data-slot="progress-indicator" class="size-full flex-1 bg-primary transition-all" style="transform: translateX(-{100 - value}%)"></div>
</div>
