<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:variable name="name" value="authors" />
<f:variable name="icon"><d:atom.icon name="user" size="xs"/></f:variable>
<f:variable name="prefix"><f:translate extensionName="Blog" key="meta.authors.author" /></f:variable>

<f:if condition="{post.authors}">
    <f:if condition="{post.authors -> f:count()} > 1">
        <f:variable name="prefix"><f:translate extensionName="Blog" key="meta.authors.authors" /></f:variable>
    </f:if>
    <f:render partial="Meta/Rendering/Item" arguments="{name: name, icon: icon, prefix: prefix}" contentAs="content">
        <ul role="list" class="inline-flex min-w-0 flex-wrap items-center gap-1.5">
            <f:for each="{post.authors}" as="author">
                <li class="inline-flex min-w-0 items-center gap-1.5" data-blog-author="{author.uid}">
                    <f:render section="ProfileLink" arguments="{author: author}" contentAs="content">{author.name}</f:render>
                </li>
            </f:for>
        </ul>
    </f:render>
</f:if>

<f:section name="ProfileLink">
    <f:if condition="{author.detailsPage} || {settings.authorUid}">
        <f:then><blogvh:link.author rel="author" author="{author}" class="rounded-sm text-foreground !no-underline outline-none transition-colors hover:text-primary focus-visible:ring-3 focus-visible:ring-ring/40"><span itemprop="name">{content}</span></blogvh:link.author></f:then>
        <f:else><span itemprop="name" class="text-foreground">{content}</span></f:else>
    </f:if>
</f:section>

</html>
