<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blogvh="http://typo3.org/ns/T3G/AgencyPack/Blog/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:variable name="name" value="published" />
<f:variable name="icon"><f:render partial="General/BlogIcons" section="Published" optional="true" /></f:variable>
<f:variable name="prefix"><f:translate extensionName="Blog" key="meta.published.published" /></f:variable>

<f:render partial="Meta/Rendering/Item" arguments="{name: name, icon: icon, prefix: prefix}" contentAs="content">
    <blogvh:link.post post="{post}" rel="bookmark" class="rounded-sm text-foreground !no-underline outline-none transition-colors hover:text-primary focus-visible:ring-3 focus-visible:ring-ring/40">
        <f:if condition="!{publishDateFormat}"><f:variable name="publishDateFormat" value="%d.%m.%Y" /></f:if>
        <time datetime="{f:format.date(format: '%Y-%m-%dT%H:%M:%S-%z', date: post.publishDate)}" itemprop="datePublished">{f:format.date(format: publishDateFormat, date: post.publishDate)}</time>
    </blogvh:link.post>
</f:render>

</html>
