.cta-card__card {
    text-align: center;
    max-width: 640px;
    margin-inline: auto;
    padding: var(--d-spacing-2xl);
}

.cta-card__header,
.cta-card__content,
.cta-card__footer {
    justify-items: center;
}

.cta-card__footer {
    justify-content: center;
}
