<html xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">
<f:argument name="src" type="string" />
<f:argument name="alt" type="string" optional="{true}" default="" />
<f:argument name="width" type="string" optional="{true}" />
<f:argument name="height" type="string" optional="{true}" />
<f:argument name="loading" type="string" optional="{true}" default="lazy" />
<f:argument name="class" type="string" optional="{true}" default="" />
<f:argument name="aspectRatio" type="string" optional="{true}" />

<f:if condition="{aspectRatio}">
    <f:then>
        <d:atom.aspectRatio ratio="{aspectRatio}" class="w-full">
            <img
                src="{src}"
                alt="{alt}"
                width="{width}"
                height="{height}"
                loading="{loading}"
                class="absolute inset-0 h-full w-full object-cover {class}"
                data-slot="image"
            />
        </d:atom.aspectRatio>
    </f:then>
    <f:else>
        <img
            src="{src}"
            alt="{alt}"
            width="{width}"
            height="{height}"
            loading="{loading}"
            class="max-w-full h-auto {class}"
            data-slot="image"
        />
    </f:else>
</f:if>
</html>
