<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Pages/Default"/>

<f:if condition="{page.pageRecord.abstract}">
    <f:then>
        <f:variable name="errorIntro" value="{page.pageRecord.abstract}"/>
    </f:then>
    <f:else>
        <f:variable name="errorIntro"><f:translate extensionName="desiderio" key="page.error.intro">This page has moved or no longer exists. Use the links below or head back to the homepage to find what you need.</f:translate></f:variable>
    </f:else>
</f:if>

<f:section name="Main">
    <article class="desiderio-system-page desiderio-editorial-system desiderio-editorial-system--error">
        <d:layout.container size="md">
            <f:render partial="Presets/SystemHeader" arguments="{class: 'desiderio-editorial-system__header', eyebrow: breadcrumb.0.title, eyebrowClass: 'desiderio-editorial-template__eyebrow', title: page.pageRecord.title, summary: errorIntro}"/>
            <div class="desiderio-system-page__content desiderio-editorial-system__content">
                <f:if condition="{content.main}">
                    <f:then>
                        <f:render partial="Presets/ContentArea" arguments="{content: content.main}"/>
                    </f:then>
                    <f:else>
                        <p class="desiderio-editorial-system__empty">
                            <f:translate extensionName="desiderio" key="page.error.empty">The page you were looking for has moved or no longer exists. Head back to the homepage to pick up the latest stories.</f:translate>
                        </p>
                    </f:else>
                </f:if>
                <f:render partial="Presets/ErrorHomeLink" arguments="{homeLink: breadcrumb.0.link}"/>
            </div>
        </d:layout.container>
    </article>
</f:section>

</html>
