<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:variable name="tabsVariant">
    <f:switch expression="{data.variant}">
        <f:case value="line">line</f:case>
        <f:case value="underline">line</f:case>
        <f:defaultCase>default</f:defaultCase>
    </f:switch>
</f:variable>

<f:asset.css identifier="d-tabs" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="tabs-section">
    <d:layout.container>
        <f:if condition="{data.header}">
            <d:atom.typography tag="h2" variant="h2" class="tabs-section__headline">{data -> f:render.text(field: 'header')}</d:atom.typography>
        </f:if>

        <f:variable name="defaultTabIndex" value="0" />
        <f:if condition="{data.default_tab}">
            <f:variable name="defaultTabIndex">{data.default_tab}</f:variable>
        </f:if>

        <d:molecule.tabs defaultValue="tab-{data.uid}-{defaultTabIndex}">
            <d:molecule.tabsList variant="{tabsVariant -> f:format.trim()}">
                <f:for each="{data.items}" as="item" iteration="iter">
                    <f:variable name="tabValue" value="tab-{data.uid}-{iter.index}" />
                    <f:variable name="triggerId" value="tab-{data.uid}-{iter.index}" />
                    <f:variable name="panelId" value="tabpanel-{data.uid}-{iter.index}" />
                    <d:molecule.tabsTrigger
                        value="{tabValue}"
                        id="{triggerId}"
                        controls="{panelId}"
                        active="{f:if(condition: '{iter.index} == {defaultTabIndex}', then: 1, else: 0)}"
                    >
                        <f:if condition="{item.tab_icon}">
                            <span data-icon="inline-start" aria-hidden="true"><d:atom.icon name="{item.tab_icon}" size="sm"/></span>
                        </f:if>
                        <span>{item -> f:render.text(field: 'tab_label')}</span>
                    </d:molecule.tabsTrigger>
                </f:for>
            </d:molecule.tabsList>

            <f:for each="{data.items}" as="item" iteration="iter">
                <f:variable name="tabValue" value="tab-{data.uid}-{iter.index}" />
                <f:variable name="triggerId" value="tab-{data.uid}-{iter.index}" />
                <f:variable name="panelId" value="tabpanel-{data.uid}-{iter.index}" />
                <d:molecule.tabsContent
                    value="{tabValue}"
                    id="{panelId}"
                    labelledBy="{triggerId}"
                    active="{f:if(condition: '{iter.index} == {defaultTabIndex}', then: 1, else: 0)}"
                    class="tabs__content"
                >
                    {item -> f:render.text(field: 'tab_content')}
                </d:molecule.tabsContent>
            </f:for>
        </d:molecule.tabs>
    </d:layout.container>
</d:layout.section>

</html>
