<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Content/Default"/>

<f:section name="Main">
    <!--
      Use Record::has() (d:recordHasField) before f:render.text so plugins without bodytext
      (news, WorkOS, etc.) do not hit InvalidArgumentValueException in the visual editor.
    -->
    <f:if condition="{record.mainType} == 'tx_news_domain_model_news'">
        <f:then>
            <d:recordHasField record="{record}" field="body">
                <f:render.text record="{record}" field="body"/>
            </d:recordHasField>
        </f:then>
        <f:else>
            <d:recordHasField record="{record}" field="bodytext">
                <f:render.text record="{record}" field="bodytext"/>
            </d:recordHasField>
        </f:else>
    </f:if>
</f:section>

</html>
