<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="d-order-summary" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section class="order-summary">
    <d:layout.container>
        <d:molecule.card class="order-summary__card">
            <f:if condition="{data.header}">
                <d:atom.typography tag="h2" variant="h3" class="order-summary__heading">{data -> f:render.text(field: 'header')}</d:atom.typography>
            </f:if>

            <ul class="order-summary__items" role="list">
                <f:for each="{data.items}" as="item">
                    <li class="order-summary__line">
                        <span class="order-summary__line-info">
                            <span class="order-summary__line-name">{item -> f:render.text(field: 'name')}</span>
                            <f:if condition="{item.quantity}">
                                <span class="order-summary__line-qty">×{item -> f:render.text(field: 'quantity')}</span>
                            </f:if>
                        </span>
                        <span class="order-summary__line-price">{item -> f:render.text(field: 'price')}</span>
                    </li>
                </f:for>
            </ul>

            <dl class="order-summary__totals">
                <f:if condition="{data.subtotal}">
                    <div class="order-summary__row">
                        <dt><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:order.subtotal" default="Subtotal"/></dt>
                        <dd>{data -> f:render.text(field: 'subtotal')}</dd>
                    </div>
                </f:if>
                <f:if condition="{data.discount_label} && {data.discount_value}">
                    <div class="order-summary__row order-summary__row--discount">
                        <dt>{data -> f:render.text(field: 'discount_label')}</dt>
                        <dd>{data -> f:render.text(field: 'discount_value')}</dd>
                    </div>
                </f:if>
                <div class="order-summary__row order-summary__row--total">
                    <dt><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:order.total" default="Total"/></dt>
                    <dd>{data -> f:render.text(field: 'total')}</dd>
                </div>
            </dl>

            <f:if condition="{data.button_text} && {data.button_link.url}">
                <d:atom.button href="{data.button_link.url}" target="{data.button_link.target}" variant="default" class="order-summary__button">
                    <span>{data -> f:render.text(field: 'button_text')}</span>
                    <span class="order-summary__button-icon" aria-hidden="true"><d:atom.icon name="check" size="sm"/></span>
                </d:atom.button>{data -> f:render.link(field: 'button_link')}
            </f:if>
        </d:molecule.card>
    </d:layout.container>
</d:layout.section>
</html>
