<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Fullwidth"/>

<f:section name="content">
    <d:molecule.alert variant="destructive">
        <d:molecule.alertTitle>
            <f:translate key="LLL:EXT:solr/Resources/Private/Language/locallang.xlf:searchUnavailable"/>
        </d:molecule.alertTitle>
    </d:molecule.alert>
</f:section>

</html>
